{% extends 'oscar/dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}
{% load waffle_tags %}

{% block body_class %}{{ block.super }} users{% endblock %}

{% block title %}{{ customer.username }} | {{ block.super }}{% endblock %}

{% block extrascripts %}
    {{ block.super }}

    {# Translation support for JavaScript strings. #}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock extrascripts %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" as tmsg %}{{ tmsg | force_escape }}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:users-index' %}">{% trans "Customers" as tmsg %}{{ tmsg | force_escape }}</a>
        </li>
        <li class="active">{{ customer.username }}</li>
    </ul>
{% endblock %}

{% block headertext %}{{ customer.username }}{% endblock %}

{% block dashboard_content %}
    <div class="row-fluid">
      {% block user_general_info %}
          <div class="">
              <div class="table-header">
                  <h2>{% trans "General" as tmsg %}{{ tmsg | force_escape }}</h2>
              </div>
              <table class="table table-bordered">
                  <tr>
                      <th>{% trans "Username" as tmsg %}{{ tmsg | force_escape }}</th>
                      <td>{{ customer.username|default:"-" }}</td>
                  </tr>
                  <tr>
                      <th>{% trans "Full name" as tmsg %}{{ tmsg | force_escape }}</th>
                      <td>{{ customer.get_full_name|default:"-" }}</td>
                  </tr>
                  <tr>
                      <th>{% trans "Email" as tmsg %}{{ tmsg | force_escape }}</th>
                      <td>{{ customer.email }}</td>
                  </tr>
                  <tr>
                      <th>{% trans "Active" as tmsg %}{{ tmsg | force_escape }}?</th>
                      <td>
                        {{ customer.is_active|yesno:_("Yes,No") }}
                      </td>
                  </tr>
                  <tr>
                      <th>{% trans "Superuser" as tmsg %}{{ tmsg | force_escape }}?</th>
                      <td>{{ customer.is_superuser|yesno:_("True,False") }}</td>
                  </tr>
                  <tr>
                      <th>{% trans "Staff" as tmsg %}{{ tmsg | force_escape }}?</th>
                      <td>{{ customer.is_staff|yesno:_("True,False") }}</td>
                  </tr>
                  <tr>
                      <th>{% trans "Last login" as tmsg %}{{ tmsg | force_escape }}</th>
                      <td>{{ customer.last_login }}</td>
                  </tr>
                  <tr>
                      <th>{% trans "Date joined" as tmsg %}{{ tmsg | force_escape }}</th>
                      <td>{{ customer.date_joined }}</td>
                  </tr>
                {% if customer.userrecord %}
                  {% with record=customer.userrecord %}
                      <tr>
                          <th>{% trans "Products viewed" as tmsg %}{{ tmsg | force_escape }}</th>
                          <td>{{ record.num_product_views|default:0 }}</td>
                      </tr>
                      <tr>
                          <th>{% trans "Number of orders" as tmsg %}{{ tmsg | force_escape }}</th>
                          <td>{{ record.num_orders|default:0 }}</td>
                      </tr>
                      <tr>
                          <th>{% trans "Number of ordered items" as tmsg %}{{ tmsg | force_escape }}</th>
                          <td>{{ record.num_order_items|default:0 }}</td>
                      </tr>
                      <tr>
                          <th>{% trans "Total spent" as tmsg %}{{ tmsg | force_escape }}</th>
                          <td>{{ record.total_spent|default:0|currency }}</td>
                      </tr>
                  {% endwith %}
                {% endif %}
                  <tr>
                      <th>{% trans "Reviews written" as tmsg %}{{ tmsg | force_escape }}</th>
                      <td>{{ customer.reviews.count }}</td>
                  </tr>
                {% if customer.email %}
                    <tr>
                        <th>{% trans "Actions" as tmsg %}{{ tmsg | force_escape }}</th>
                        <td>
                            <form id="password_reset_form"
                                  action="{% url 'dashboard:user-password-reset' pk=customer.id %}" method="post"
                                  class="form-horizontal">
                              {% csrf_token %}
                              {% include 'oscar/partials/form_fields.html' %}
                                <button type="submit"
                                        class="btn btn-primary btn-large">{% trans 'Send password reset email' as tmsg %}{{ tmsg | force_escape }}</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
              </table>
          </div>
      {% endblock %}

      {% block user_additional_info %}
          <div class="tabbable dashboard">
            {% block tab_nav %}
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#user_orders" data-toggle="tab">{% trans "Orders" as tmsg %}{{ tmsg | force_escape }}</a></li>
                    <li><a href="#user_refunds" data-toggle="tab">{% trans "Refunds" as tmsg %}{{ tmsg | force_escape }}</a></li>
                  {% switch "user_enrollments_on_dashboard" %}
                      <li><a href="#user_enrollments" data-toggle="tab">{% trans "Enrollments" as tmsg %}{{ tmsg | force_escape }}</a></li>
                  {% endswitch %}
                    <li><a href="#user_addresses" data-toggle="tab">{% trans "Addresses" as tmsg %}{{ tmsg | force_escape }}</a></li>
                    <li><a href="#user_reviews" data-toggle="tab">{% trans "Reviews" as tmsg %}{{ tmsg | force_escape }}</a></li>
                </ul>
            {% endblock %}

              <div class="tab-content">
                {% block user_orders %}
                    <div id="user_orders" class="tab-pane active">
                        <table class="table table-striped table-bordered table-hover">
                            <caption>{% trans "Orders" as tmsg %}{{ tmsg | force_escape }}</caption>
                          {% with orders=customer.orders.all %}
                            {% if orders %}
                                <tr>
                                    <th>{% trans "Order Number" as tmsg %}{{ tmsg | force_escape }}</th>
                                    <th>{% trans "Num items" as tmsg %}{{ tmsg | force_escape }}</th>
                                    <th>{% trans "Total value" as tmsg %}{{ tmsg | force_escape }}</th>
                                    <th>{% trans "Date placed" as tmsg %}{{ tmsg | force_escape }}</th>
                                    <th>{% trans "Status" as tmsg %}{{ tmsg | force_escape }}</th>
                                    <th></th>
                                </tr>
                              {% for order in orders %}
                                  <tr>
                                      <td>
                                          <a href="{% url 'dashboard:order-detail' order.number %}">{{ order.number }}</a>
                                      </td>
                                      <td>{{ order.num_items }}</td>
                                      <td>{{ order.basket_total_incl_tax|currency }}</td>
                                      <td>{{ order.date_placed|date }}</td>
                                      <td>{{ order.status|default:"-" }}</td>
                                      <td><a href="{% url 'dashboard:order-detail' number=order.number %}"
                                             class="btn btn-info">{% trans "View" as tmsg %}{{ tmsg | force_escape }}</a></td>
                                  </tr>
                              {% endfor %}
                            {% else %}
                                <tr>
                                    <td>{% trans "This customer has not placed any orders yet." as tmsg %}{{ tmsg | force_escape }}</td>
                                </tr>
                            {% endif %}
                          {% endwith %}
                        </table>

                    </div>
                {% endblock %}

                {% block user_refunds %}
                    <div id="user_refunds" class="tab-pane">
                      {% include "oscar/dashboard/partials/refund_table.html" with refunds=customer.refunds.all %}
                    </div>
                {% endblock %}

                {% switch "user_enrollments_on_dashboard" %}
                  {% block user_enrollments %}
                      <div id="user_enrollments" class="tab-pane">
                        {% include "oscar/dashboard/partials/enrollment_table.html" with enrollments=enrollments %}
                      </div>
                  {% endblock %}
                {% endswitch %}


                {% block user_addresses %}
                    <div id="user_addresses" class="tab-pane">
                        <h2>{% trans "Addresses" as tmsg %}{{ tmsg | force_escape }}</h2>

                        <div class="row-fluid">
                          {% for address in customer.addresses.all %}

                              <div class="span3">
                                  <div class="well well-info">
                                    {% for field in address.active_address_fields %}
                                      {{ field }}<br/>
                                    {% endfor %}
                                  </div>
                              </div>
                            {% if forloop.counter|divisibleby:4 %}
                                </div>
                              {% if not forloop.last %}
                                  <div class="row-fluid">
                              {% endif %}
                            {% endif %}
                            {% empty %}
                              <p>{% trans "This customer has not saved any addresses." as tmsg %}{{ tmsg | force_escape }}</p>
                          {% endfor %}
                            </div>
                    </div>
                {% endblock %}

                {% block user_reviews %}
                    <div id="user_reviews" class="tab-pane">
                        <table class="table table-striped table-bordered table-hover">
                            <caption>{% trans "Reviews" as tmsg %}{{ tmsg | force_escape }}</caption>
                          {% if customer.reviews.count %}
                              <tr>
                                  <th>{% trans "Product ID" as tmsg %}{{ tmsg | force_escape }}</th>
                                  <th>{% trans "Score" as tmsg %}{{ tmsg | force_escape }}</th>
                                  <th>{% trans "Title" context "Product review title" as tmsg %}{{ tmsg | force_escape }}</th>
                                  <th>{% trans "Body" as tmsg %}{{ tmsg | force_escape }}</th>
                                  <th>{% trans "Date created" as tmsg %}{{ tmsg | force_escape }}</th>
                              </tr>
                            {% for review in customer.reviews.all %}
                                <tr>
                                    <td>{{ review.product_id }}</td>
                                    <td>{{ review.score }}</td>
                                    <td>{{ review.title }}</td>
                                    <td>{{ review.body }}</td>
                                    <td>{{ review.date_created }}</td>
                                </tr>
                            {% endfor %}
                          {% else %}
                              <tr>
                                  <td>{% trans "This customer has not written any reviews yet." as tmsg %}{{ tmsg | force_escape }}</td>
                              </tr>
                          {% endif %}
                        </table>

                    </div>
                {% endblock %}
              </div>
          </div>
          </div>
      {% endblock %}
{% endblock dashboard_content %}
