{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% filter force_escape %}
    {% blocktrans with number=line.order.number id=line.id%}
        Order {{ number }} - Line #{{ id }}
    {% endblocktrans %} {% endfilter %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" as tmsg %}{{ tmsg | force_escape }}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:order-list' %}">{% trans "Orders" as tmsg %}{{ tmsg | force_escape }}</a>
        </li>
        <li>
            <a href="{% url 'dashboard:order-detail' number=line.order.number %}">#{{ line.order.number }}</a>
        </li>
        <li class="active">{% filter force_escape %}{% blocktrans with id=line.id %}Line #{{ id }}{% endblocktrans %}{% endfilter %}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% filter force_escape %}{% blocktrans with number=line.order.number id=line.id %}Order #{{ number }} - Line #{{ id }}{% endblocktrans %}{% endfilter %}
{% endblock %}

{% block dashboard_content %}
    <div class="row">
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Product details" as tmsg %}{{ tmsg | force_escape }}</h3>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans "Title" context "Product title" as tmsg %}{{ tmsg | force_escape }}</th>
                    <td>
                        {{ line.title }}
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Product Type" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.product.product_class }}</td>
                </tr>
                <tr>
                    <th>{% trans "UPC" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.upc|default:"-" }}</td>
                </tr>
                <tr>
                    <th>{% trans "Quantity" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.quantity }}</td>
                </tr>
                {% if line.attributes.exists %}
                    <tr>
                        <th colspan="2">{% trans "Product Options" as tmsg %}{{ tmsg | force_escape }}</th>
                    </tr>
                    {% for attribute in line.attributes.all %}
                        <tr>
                            <th>{{ attribute.option }}</th>
                            <td>{{ attribute.value }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Partner details" as tmsg %}{{ tmsg | force_escape }}</h3>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans "Status" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.status|default:"-" }}</td>
                </tr>
                <tr>
                    <th>{% trans "Partner" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.partner_name }}</td>
                </tr>
                <tr>
                    <th>{% trans "Partner SKU" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.partner_sku }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Shipping details" as tmsg %}{{ tmsg | force_escape }}</h3>
            </div>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>{% trans "Partner reference number" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.partner_line_reference|default:"-" }}</td>
                </tr>
                <tr>
                    <th>{% trans "Partner notes" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.partner_line_notes|default:"-" }}</td>
                </tr>
                <tr>
                    <th>{% trans "Estimate dispatch date" as tmsg %}{{ tmsg | force_escape }}</th><td>{{ line.est_dispatch_date|default:"-" }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Shipping status" as tmsg %}{{ tmsg | force_escape }}</h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% trans "State" as tmsg %}{{ tmsg | force_escape }}</th>
                        <th>{% trans "Quantity" as tmsg %}{{ tmsg | force_escape }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for state in line.shipping_event_breakdown.values %}
                        <tr>
                            <td>{{ state.event_type.name }}</td>
                            <td>{{ state.quantity }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">{% trans "No shipping events have occurred." as tmsg %}{{ tmsg | force_escape }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Shipping events" as tmsg %}{{ tmsg | force_escape }}</h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% trans "Event" as tmsg %}{{ tmsg | force_escape }}</th>
                        <th>{% trans "Quantity" as tmsg %}{{ tmsg | force_escape }}</th>
                        <th>{% trans "Reference" as tmsg %}{{ tmsg | force_escape }}</th>
                        <th>{% trans "Date" as tmsg %}{{ tmsg | force_escape }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_qty in line.shipping_event_quantities.all %}
                        <tr>
                            {% with event=event_qty.event %}
                                <td>{{ event.event_type.name }}</td>
                                <td>{{ event_qty.quantity }}</td>
                                <td>{{ event.notes }}</td>
                                <td>{{ event.date_created }}</td>
                            {% endwith %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">{% trans "No shipping events have occurred." as tmsg %}{{ tmsg | force_escape }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <div class="table-header">
                <h3>{% trans "Payment events" as tmsg %}{{ tmsg | force_escape }}</h3>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{% trans "Event" as tmsg %}{{ tmsg | force_escape }}</th>
                        <th>{% trans "Quantity" as tmsg %}{{ tmsg | force_escape }}</th>
                        <th>{% trans "Date" as tmsg %}{{ tmsg | force_escape }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event_qty in line.payment_event_quantities.all %}
                        <tr>
                            {% with event=event_qty.event %}
                                <td>{{ event.event_type.name }}</td>
                                <td>{{ event_qty.quantity }}</td>
                                <td>{{ event.date_created }}</td>
                            {% endwith %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">{% trans "No payment events have occurred." as tmsg %}{{ tmsg | force_escape }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock dashboard_content %}
