#offer {
    .container {
        padding-top: spacing-vertical(small);
        padding-bottom: spacing-vertical(small);
    }

    .course_name {
        font-size: 20px;
        font-weight: bold;
    }

    .course_description {
        font-size: 14px;
    }

    .course-price {
        .discount {
            font-weight: bold;
            @include padding-right(10px);
        }
        strong {
            color: #25B85A;
            @include padding-left(10px);
        }
        .course-price {
            color: #9EB1B9;
            font-weight: bold;
        }
        s {
            // replace the default line-through
            text-decoration: none;
            position: relative;
            &:after {
                content:"";
                position: absolute;
                bottom: 0;
                left: 0;
                border-top: 2px solid #B20610;
                height: 50%;
                width: 100%;
            }
        }
    }

    .discount-course-price {
        margin: 0 10px;
        border: 1px solid #eeeeee;
        padding: 20px;

        .data-row {
            padding-bottom: 10px;

            .text-right {
                @include float(right);
            }
        }

        .discount-row {
            border-bottom: 1px solid #c5c5c5;
            padding-bottom: 15px;
            font-weight: bold;
        }

        .total-row {
            padding: 20px 0;
            color: #0078b0;
            font-size: 20px;
            font-weight: bold;
        }

        .btn-purchase {
            width: 100%;
        }

        .verification-note {
            color: #767676;
            font-size: 11px;

            span {
                display: inline-block;
            }
        }
    }

    .verified-certificate-info {
        padding: 30px 0;

        h3 {
            border-bottom: 1px solid #c5c5c5;
            padding-bottom: 10px;
        }

        ul li {
            padding-bottom: 20px;
            font-size: 14px;
        }
    }

    .total-price {
        color: #065683;
    }

    p.voucher {
        margin: 0 20px;
        color: gray;
        @include float(left);
    }
    .note {
        border: 1px solid  #D2D0D0;
        border-radius: 0;
        margin-top: 1.25rem;
        background: none;
        color: #6B6969;
    }

}
