.course-detail-view {
  .course-information {
    margin-bottom: spacing-vertical(small);

    .heading {
      font-weight: bold;
    }

    .course-id {
      margin-bottom: spacing-vertical(x-small);
    }
  }

  .course-seats {
    .course-seat {
      margin-bottom: spacing-vertical(small);

      .seat-type {
        font-weight: bold;
      }

      .seat-certificate-type {
      }
    }
  }
}
