.recommendation-demo {
    height: 100%;
    //padding-bottom: $padding-large-vertical * 2;

    dl {
        margin-left: $padding-large-horizontal;
        dd {
            margin-bottom: $padding-small-vertical;
        }
    }

    .recommendation-group {
        margin-top: $padding-base-vertical;

        &.fake-height {
            padding-bottom: 500px;
        }

        form, .dataTables_wrapper {
            margin-bottom: $padding-base-vertical;
        }

        table caption {
            font-weight: bold;
        }
    }
}