*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Django
default.db

# Oscar
media/cache/
assets

# Unit test / coverage reports
.coverage
htmlcov
.tox
nosetests.xml
unittests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# QA
coverage.xml
diff_*.html
*.report
report
edx_ecommerce.log
venv
acceptance_tests.*.log
acceptance_tests.*.png

# Override config files
override.cfg

# JetBrains
.idea

# OS X
.DS_Store

*.trace
