# Team @openedx/revenue-squad will be the default owners for
# everything in this repo. Unless a later match takes
# precedence, @openedx/revenue-squad will be requested for
# review when someone opens a pull request.
* @openedx/revenue-squad
