{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout Error" %}
{% endblock title %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div class="container content-wrapper receipt-cancel-error">
        <h1>{% trans "Checkout Error" %}</h1>
        <p>{% blocktrans %} An error has occurred with your payment. <b>You have not been charged.</b>
        {% endblocktrans %}</p>

        <p>{% with "<a class='nav-link' href='mailto:"|add:payment_support_email|add:"'>"|safe as start_link %}
            {% blocktrans with end_link="</a>"|safe %}
            Please try to submit your payment again. If this problem persists, contact {{ start_link }}
            {{ payment_support_email }}{{ end_link }}.
            {% endblocktrans %}
        {% endwith %}</p>
    </div>
{% endblock content %}
