{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Checkout Error" %}
{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock %}

{% block content %}
    <div id="error-message">
        <div class="container">
            <div class="depth depth-2 message-error-content">
                <h1>{% trans "Checkout Error" %}</h1>
                <p>{% trans "An error has occurred with your payment." %} <b>{% trans "You have not been charged." %}</b></p>
                <p>{% with "<a class='nav-link' href='mailto:"|add:payment_support_email|add:"'>"|safe as start_link %}
                    {% blocktrans with end_link="</a>"|safe %}
                    Please try to submit your payment again. If this problem persists, contact {{ start_link }}
                    {{ payment_support_email }}{{ end_link }}.
                    {% endblocktrans %}
                {% endwith %}</p>
            </div>
        </div>
    </div>
{% endblock %}
