{% extends 'edx/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Courses" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
              {% trans "Courses" %}
                <button class="btn btn-primary btn-xs">{% trans "Add New" %}</button>
            </h1>
        </div>

        <table id="courseTable" class="table table-striped table-bordered" cellspacing="0">
            <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Last Edited" %}</th>
            </tr>
            </thead>

            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.name }}</td>
                    <td data-sort="{{ course.history.latest.history_date|date:'U' }}">
                      {{ course.history.latest.history_date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/views/course_list_view.js' %}"></script>
{% endblock %}
