# This requirements.txt file is meant to pull in other requirements.txt files so that
# dependency monitoring tools like gemnasium.com can easily process them.

# It can not be used to do the full installation because it is not in the correct
# order.

-r ../base.txt
-r ../docs.txt
-r ../local.txt
-r ../optional.txt
-r ../production.txt
-r ../test.txt
