{% load i18n %}
{% load core_extras %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}
{% load staticfiles %}
{% load basket_extras %}

{% include 'partials/alert_messages.html' %}

{% if not basket.is_empty %}
    <div class="row pb0">
        <div class="col-md-6 col-xs-12">

            <div class="row pb0">
                <div class="col-xs-12">
                {% block basket_form_main %}
                    <form action="." method="post" class="basket_summary" id="basket_formset">
                        {% csrf_token %}
                        {{ formset.management_form }}

                        {% for form, line_data in formset_lines_data %}
                            {% purchase_info_for_line request line_data.line as session %}
                            <div class="basket-items">
                                <div class="row pb0">
                                    <div class="col-xs-12">
                                        <div class="row pb0">
                                            <div class="col-sm-4 col-xs-12 course_image">
                                                {{ form.id }}
                                                <img src="{{ line_data.image_url }}" alt="{{ line_data.course_name }}"/>
                                            </div>
                                            <div class="col-sm-7 col-xs-12">
                                                <p class="course_name">{{ line_data.course_name }} - {{ line_data.course_key.org }} ({{ line_data.course_key.run }}) <span>Verified Certificate</span></p>
                                                <p class="course_description">{{ line_data.course_short_description}}</p>
                                            </div>
                                        </div>
                                        <div class="row label-headings">
                                            <div class="col-xs-3">
                                                <label for="">{% trans "Item Price" %}</label>
                                            </div>
                                            {% if line_data.enrollment_code %}
                                            <div class="col-xs-6 col-sm-5">
                                                <label for="{{ form.quantity.auto_id }}">{% trans "Quantity" %}</label>
                                            </div>
                                            <div class="col-xs-3">
                                            {% else %}
                                            <div class="col-xs-6">
                                            {% endif %}
                                                <label for="">{% trans "Price" %}</label>
                                            </div>
                                        </div>
                                        <div class="row value-labels">
                                            <div class="col-xs-3 form-inline">
                                                {{ line_data.line.unit_price_incl_tax|currency:line_data.line.price_currency }}
                                            </div>
                                            {% if line_data.enrollment_code %}
                                            <div class="col-xs-6 col-sm-5 form-inline">
                                                <div class="checkout-quantity form-group">
                                                    <div class="input-group spinner {% if form.errors %}error{% endif %}">
                                                        <div class="custom-number">
                                                            {% render_field form.quantity class+="quantity form-control" min=min_seat_quantity %}
                                                            <span class="up"></span>
                                                            <span class="down"></span>
                                                        </div>
                                                        <button class="btn btn-default btn-primary update-button" type="submit" data-loading-text="{% trans 'Updating...' %}">
                                                            {% trans "Update" %}
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-3 course_prices">
                                            {% else %}
                                            <div class="col-xs-6 course_prices">
                                            {% endif %}
                                                {% if line_data.line.has_discount %}
                                                <div class="discount">
                                                    <div class="price actual-price">
                                                        {{ line_data.line.line_price_incl_tax|currency:line_data.line.price_currency }}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="price {% if line_data.line.has_discount %}discounted-price{% endif %}">
                                                    {{ line_data.line.line_price_incl_tax_incl_discounts|currency:line_data.line.price_currency }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                {% endblock %}
                </div>
            </div>

            {% if not is_bulk_purchase %}
            <div class="row pb0">
                <div class="col-xs-12">
                    <div class="coupon-section">
                        <div class="form-group">
                            {% block vouchers %}
                                {% if basket.contains_a_voucher %}
                                    <div class="coupon-applied">
                                        {% for voucher in basket.vouchers.all %}
                                        <form action="{% url 'basket:vouchers-remove' pk=voucher.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="remove-voucher" type="submit">
                                                <span class="fa fa-trash"></span>
                                            </button>
                                             <span>
                                                {% get_formatted_benefit_value voucher.benefit as voucher_benefit_value %}

                                                {% blocktrans with benefit_value=voucher_benefit_value voucher_code=voucher.code %}
                                                    {{ benefit_value }} off {{ voucher_code }} has been applied
                                                {% endblocktrans %}
                                            </span>
                                        </form>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {# Hide the entire section if a custom BasketView doesn't pass in a voucher form #}
                                    {% if voucher_form %}
                                        <div class="use-voucher">
                                            <p id="voucher_form_link">{% trans "Apply a coupon code" %}</p>
                                            <div id="voucher_form_container">
                                                <form id="voucher_form" action="{% url 'basket:vouchers-add' %}" method="post">
                                                    {% csrf_token %}
                                                    <div class="code">
                                                        <input id="id_code" name="code" type="text">
                                                        <button type="submit"
                                                                class="btn btn-default"
                                                                data-loading-text="{% trans 'Applying...' %}"
                                                                data-track-type="click"
                                                                data-track-event="edx.bi.ecommerce.basket.voucher_applied"
                                                                data-track-category="voucher-application"
                                                                data-voucher-code="{{voucher_code}}">
                                                            {% trans "Apply" %}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endblock vouchers %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row pb0">
                <div class="col-xs-12">
                    <div class="change-enrollment-section">
                        {# Switch Basket view in between single and bulk purchase items #}
                        {% if partner_sku %}
                            <div class="basket-switch-link">
                                <a href="/basket/single-item/?sku={{ partner_sku }}" class="btn-link">
                                    {{ switch_link_text }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 border-left-md payment-details">

            <form method="POST" action="{% url 'adyen_payment' %}" id="adyen-encrypted-form">
                <input type="hidden" value="{{ payment_processors.0.generation_time }}" data-encrypted-name="generationtime" />
                <div class="form-group">
                    <label class="group-label">{% trans "Select Payment Method" %}</label>
                    <div class="row pb0">
                        <div class="col-xs-9 col-sm-7">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default selected">
                                    <img src="{% static 'adyen/images/discover.png' %}" alt="Discover" />
                                    <img src="{% static 'adyen/images/visa.png' %}" alt="Visa card" />
                                    <img src="{% static 'adyen/images/mastercard.png' %}" alt="Master card" />
                                    <img src="{% static 'adyen/images/american-express.png' %}" alt="American express" />
                                </button>

                                <button type="button" class="btn btn-default more-options">
                                    <span class="hidden-xs">{% trans "More" %}</span>
                                    <span class="visible-xs">...</span>
                                </button>
                            </div>
                        </div>
                        {% if not free_basket and payment_processors %}
                            <div class="col-xs-3 col-sm-3">
                                <div class="payment-buttons" data-basket-id="{{ basket.id }}">
                                    {% for processor in payment_processors %}
                                        {% if processor.NAME|lower == 'paypal'%}
                                            <button data-track-type="click"
                                                    data-track-event="edx.bi.ecommerce.basket.payment_selected"
                                                    data-track-category="checkout"
                                                    data-processor-name="{{ processor.NAME }}"
                                                    data-course-id="{{ course.id }}"
                                                    class="btn btn-default btn-paypal payment-button"
                                                    value="{{ processor.NAME|lower }}"
                                                    id="{{ processor.NAME|lower }}"
                                                    type="button">
                                                <img src="{% static 'adyen/images/paypal.png' %}" alt="Paypal"/>
                                            </button>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <label class="group-label">{% trans "Card Holder Information" %}</label>
                    <div class="row pb0">
                        <div class="form-field col-xs-6">
                            <label for="first_name">{% trans "First Name" %}*</label>
                            <input type="text" class="form-control name required" id="first_name" autocomplete="off" aria-required="true"/>
                            <span class="error-text">{% trans "Enter value with no more than 10 characters" %}</span>
                        </div>
                        <div class="form-field col-xs-6">
                            <label for="last_name">{% trans "Last Name" %}*</label>
                            <input type="text" class="form-control name required" id="last_name" autocomplete="off" aria-required="true"/>
                            <span class="error-text">{% trans "Enter value with no more than 10 characters" %}</span>
                        </div>
                    </div>
                    <div class="row pb0">
                        <div class="form-field col-xs-6">
                            <label for="email">{% trans "Email Address" %}*</label>
                            <input type="text" class="form-control required" id="email" aria-required="true"/>
                            <span class="error-text">{% trans "Enter valid email address" %}</span>
                        </div>
                    </div>
                    <div class="row pb0">
                        <div class="form-field col-xs-6">
                            <label for="address">{% trans "Address" %}*</label>
                            <input type="text" class="form-control required" id="address" aria-required="true"/>
                            <span class="error-text">{% trans "This field is required" %}</span>
                        </div>
                        <div class="form-field col-xs-6">
                            <label for="apartment">{% trans "Suit/Apartment Number" %}</label>
                            <input type="text" class="form-control" id="apartment"/>
                        </div>
                    </div>
                    <div class="row pb0">
                        <div class="form-field col-xs-6">
                            <label for="city">{% trans "City" %}*</label>
                            <input type="text" class="form-control required" id="city" aria-required="true"/>
                            <span class="error-text">{% trans "This field is required" %}</span>
                        </div>
                        <div class="form-field col-xs-6">
                            <label for="state">{% trans "State/Province" %}*</label>
                            <input type="text" class="form-control required" id="state" aria-required="true"/>
                            <span class="error-text">{% trans "This field is required" %}</span>
                        </div>
                    </div>
                    <div class="row pb0">
                        <div class="form-field col-xs-6">
                            <label for="country">{% trans "Country" %}*</label>
                            <input type="text" class="form-control required" id="country" aria-required="true"/>
                            <span class="error-text">{% trans "This field is required" %}</span>
                        </div>
                        <div class="form-field col-xs-6">
                            <label for="zip_code">{% trans "Zip/Postal Code" %}*</label>
                            <input type="text" class="form-control required" id="zip_code" aria-required="true"/>
                            <span class="error-text">{% trans "This field is required" %}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="group-label">{% trans "Billing Information" %}</label>
                    <div class="row pb0">
                        <div class="form-field col-xs-12">
                            <label for="card_holder_name">{% trans "Card Holder's Name" %}</label>
                            <input type="text" class="form-control" id="card_holder_name" size="20" autocomplete="off" data-encrypted-name="holderName" aria-required="true"/>
                            <span class="error-text">{% trans "Enter name with no more than 20 characters" %}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row pb0">
                        <div class="form-field col-sm-6 card-number-section">
                            <div>
                                <label for="card_number">{% trans "Credit Card Number" %}*</label>
                                <input type="text" class="form-control security required" id="card_number" size="20" autocomplete="off" data-encrypted-name="number" aria-required="true"/>
                                <span class="error-text">{% trans "Enter a valid card number" %}</span>
                            </div>
                        </div>
                        <div class="form-field col-sm-4">
                            <label for="card_cvc">
                                {% trans "Security Code" %}*
                                <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="This code is a three or four digit number printed on the back or front of credit cards."></i>
                            </label>
                            <input type="password" class="form-control security required" id="card_cvc" size="4" maxlength="4" autocomplete="off" data-encrypted-name="cvc" aria-required="true"/>
                            <span class="error-text">{% trans "Enter a valid CVN" %}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row pb0">
                        <div class="form-field col-xs-5">
                            <label for="card_expiry_month">{% trans "Expiration" %}*</label>
                            <select class="form-control" id="card_expiry_month" autocomplete="off" data-encrypted-name="expiryMonth" aria-required="true">
                                <option value="">{% trans "Month" %}</option>
                                <option value="01">{% trans "January" %}</option>
                                <option value="02">{% trans "February" %}</option>
                                <option value="03">{% trans "March" %}</option>
                                <option value="04">{% trans "April" %}</option>
                                <option value="05">{% trans "May" %}</option>
                                <option value="06">{% trans "June" %}</option>
                                <option value="07">{% trans "July" %}</option>
                                <option value="08">{% trans "August" %}</option>
                                <option value="09">{% trans "September" %}</option>
                                <option value="10">{% trans "October" %}</option>
                                <option value="11">{% trans "November" %}</option>
                                <option value="12">{% trans "December" %}</option>
                            </select>
                            <span class="error-text">{% trans "Enter a valid expiry month" %}</span>
                        </div>
                        <div class="form-field col-xs-3">
                            <label for="card_expiry_year">&nbsp;</label>
                            <select class="form-control" id="card_expiry_year" autocomplete="off" data-encrypted-name="expiryYear" aria-required="true">
                                <option value="">Year</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                                <option value="2032">2032</option>
                                <option value="2033">2033</option>
                                <option value="2034">2034</option>
                                <option value="2035">2035</option>
                                <option value="2036">2036</option>
                                <option value="2037">2037</option>
                            </select>
                            <span class="error-text">{% trans "Enter a valid expiry year" %}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    {% block emptybasket %}
        <div class="depth depth-2 message-error">
            <h3>{% trans "Your purchase could not be completed" %}</h3>
            {% captureas dashboard_link_start %}
                <a href="{{ homepage_url }}">
            {% endcaptureas %}

            {% captureas support_link_start %}
                <a href="{{ support_url }}">
            {% endcaptureas %}

            {% blocktrans with link_end="</a>" %}
                You have not been charged. Return to your {{ dashboard_link_start }}dashboard{{ link_end }} to try again, or {{ support_link_start }}contact {{ platform_name }} Support{{ link_end }}.
            {% endblocktrans %}
        </div>
    {% endblock %}
{% endif %}
