{% extends 'customer/email_base.html' %}
{% load i18n %}
{% block body %}

    <tr>
        <table class="cn-body">
            <!-- Message header -->
            <tr align="left" class="cn-img-wrapper">
                <td colspan="2" align="left" class="cn-img-wrapper cn-full-width" style="font-size: 20px; vertical-align: middle; padding-left: 2px; color: #127eb1;">
                    <img src="http://gallery.mailchimp.com/1822a33c054dc20e223ca40e2/images/logo_web_edx_studio01aad778f34f.png"
                        height="30" alt="{{partner_name}} Logo" border="0" hspace="0" vspace="0"
                        class="platform-img">
                    {% trans "For Business" %}
                </td>
            </tr>

            <tr>
                <td class="cn-content-clear" colspan="2"></td>
            </tr>

            <!-- Message Body -->
            <tr class="cn-content cn-full-width">
                <td colspan="2" class="cn-content-msg">
                    <p>{% blocktrans %}Dear {{full_name}},{% endblocktrans %}</p>
                    <p>{% blocktrans %}Thank you for purchasing access to {{course_name}}. Let's get your group ready to learn with edX:{% endblocktrans %}</p>
                    <ol>
                        <li>{% blocktrans with link_start='<a href="' link_middle='">' link_end='</a>'%}Download and save the {{ link_start }}{{ download_csv_link }}{{ link_middle }} enrollment code file.{{ link_end }}{% endblocktrans %}</li>
                        <li>{% trans "Distribute one code per learner before the expiration date." %}</li>
                        <li>{% trans "Pro tip: Track which code is associated with which person." %}</li>
                        <li>{% trans "Learners sign-in/register with edX and enroll for the course." %}</li>
                    </ol>
                    <p>{% blocktrans with link_start='<a href="' link_middle='">' link_end='</a>' %}To view your payment information, log in to see your Order History, under {{ link_start }}{{order_history_url}}{{ link_middle }}Account Settings{{ link_end }}.{% endblocktrans %}</p>
                    <p>{% blocktrans with link_start='<a href="mailto:info@edx.org">' link_end='</a>' %}For more information and assistance, contact {{ link_start }}info@edx.org.{{ link_end }}{% endblocktrans %}</p>
                    <p>{% trans "Thank You" %}</p>
                </td>
            </tr>

            <tr>
                <td class="cn-content-clear cn-footer" colspan="2"></td>
            </tr>

            <!-- Footer content -->
            <tr class="cn-full-width">
                <td class="cn-footer-content" colspan="2">
                    <p>{% trans "By purchasing, you and your organization agree to the following terms:" %}</p>
                    <ul>
                        <li>{% trans "Each code is valid for the one course covered and can be used only one time." %}</li>
                        <li>{% trans "You are responsible for distributing codes to your learners."%}</li>
                        <li>{% trans "Each code will expire in one year from date of purchase or, if earlier, once the course is closed."%}</li>
                        <li>{% trans "If a course is not designated as self-paced, you should confirm that a course run is available before expiration."%}</li>
                        <li>{% trans "You may not resell codes to third parties."%}</li>
                        <li>{% trans "All sales final. No refunds."%}</li>
                    </ul>
                </td>
            </tr>

            <!-- Empty base footer -->
            {% block footer %}{% endblock footer %}
        </table>
    </tr>

{% endblock body %}
