{% load compress %} {% load static %}
<script>
  function displayMessage(event) {
    let message = 'Caution! Do not Refresh this page as it may take few seconds. It will also take few minutes to update your records after successfull transaction.'
    let alert_type = 'alert-warning'
    alert("Please wait after a successfull transaction as It will take sometime to update your records and enroll you to a verified course.");
    $('#messages').html(
      '<div class="alert '+alert_type+'">\
        <i class="icon fa fa-exclamation-triangle"></i>'+message+
      '</div>',
    )
  }

  $(document).ready(function() {
      document.querySelector("button[data-processor-name='authorizenet']").onclick = displayMessage;
  });
</script>
