{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
{% trans "Basket" %}
{% endblock title %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'adyen/css/basket.css' %}" type="text/x-scss">
{% endblock %}

{% block javascript %}
    <script src="{% static 'adyen/js/apps/basket_app.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="basket">
        <div class="container">
            {# Use a partial template so that AJAX can be used to re-render basket #}
            {% include 'basket/partials/basket_content.html' %}

        </div>
        <div class="container gross-total">
            <div class="total">
                <div class="row">
                    <div class="col-sx-12 hidden-sm hidden-xs">
                        {% block baskettotals %}
                            {% include 'basket/partials/basket_totals.html' with editable=1 %}
                        {% endblock baskettotals %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {% if free_basket %}
                        <div class="payment-buttons" data-basket-id="{{ basket.id }}">
                            <a href="{% url 'checkout:free-checkout' %}"
                                data-track-type="click"
                                data-track-event="edx.bi.ecommerce.basket.free_checkout"
                                data-track-category="checkout"
                                data-course-id="{{ course.id }}"
                                class="btn checkout-button">
                                {% trans "Place Order" %}
                            </a>
                        </div>
                    {% else %}
                        <div class="checkout-buttons-section" data-basket-id="{{ basket.id }}">
                            <input data-track-type="click"
                                    data-track-event="edx.bi.ecommerce.basket.payment_selected"
                                    data-track-category="checkout"
                                    data-processor-name="{{ payment_processors.0.NAME }}"
                                    data-course-id="{{ course.id }}"
                                    class="btn btn-default checkout-button"
                                    disabled="disabled"
                                    value='{% trans "Pay" %}'
                                    id="{{ payment_processors.0.NAME|lower }}"
                                    type="submit"
                                    form="adyen-encrypted-form"/>

                            <a href="{{ payment_processors.0.cancel_page_url }}" class="btn btn-lg btn-transparent">
                                {% trans "Cancel" %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'adyen/js/adyen.encrypt.min.js' %}"></script>
    <script type="text/javascript">
        var adyenForm = document.getElementById('adyen-encrypted-form');
        var adyenKey = '{{ payment_processors.0.cse_public_key }}';
        var adyenFormOptions = {};
        adyen.encrypt.createEncryptedForm(adyenForm, adyenKey, adyenFormOptions);
    </script>
{% endblock content %}
