<script>
    requirejs.config({
        paths: {
            'stripeCheckout': 'https://checkout.stripe.com/checkout'
        },
        shim: {
            'stripeCheckout': {
                exports: 'StripeCheckout'
            }
        }
    });

    require(
        ['jquery', 'stripeCheckout'],
        function($, StripeCheckout){
            $(document).ready(function () {

                var handler = StripeCheckout.configure({
                    key: "{{ stripe_publishable_key }}",
                    image: "{{ stripe_image_url }}",
                    name: "{{ platform_name }}",
                    description: "{{ stripe_payment_description }}",
                    amount: "{{ stripe_amount_cents }}",
                    currency: "{{ stripe_currency }}",
                    email: "{{ stripe_user_email }}",
                    locale: 'auto',
                    token: function(token) {
                        var stripeToken = token.id;
                        var stripeEmail = token.email;

                        var $form = $('<form>').attr({
                            class: 'hidden',
                            method: 'POST',
                            action: '{% url "stripe_checkout" basket=basket.pk %}'
                        });
                        $form.append(
                                $("<input>").attr({
                                    type: 'hidden',
                                    name: "stripeToken",
                                    value: stripeToken
                                })
                        );
                        $form.appendTo('body').submit();
                    }
                });

                $('.payment-button[value="stripe"]').on('click', function(e) {
                    handler.open({});
                    e.preventDefault();
                    return false;
                });

                $(window).on('popstate', function() {
                    handler.close();
                });
            });
        }
    );
</script>
