<div class="row">
    <div class="fields col-md-6">
        <div class="form-group">
            <label for="uuid"><%= gettext('Program UUID') %> *</label>
            <input id="uuid" type="text" class="form-control" name="id" value="" />
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="name"><%= gettext('Program Name') %> *</label>
            <input id="name" type="text" class="form-control" name="name" />
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="start-date"><%= gettext('Start Date') %> *</label>
            <input id="start-date" type="date" class="form-control" name="start_date" />
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="end-date"><%= gettext('End Date') %> *</label>
            <input id="end-date" type="date" class="form-control" name="end_date" />
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="benefit-value"><%= gettext('Discount Value') %> *</label>
            <div class="input-group">
                <div class="benefit-addon input-group-addon">%</div>
                <input id="benefit-value" type="number" class="form-control" name="benefit_value" />
            </div>
            <div class="form-inline benefit-type">
                <input id="benefit-percent" type="radio" class="non-editable" name="benefit_type" value="Percentage" checked />
                <label for="benefit-percent" class="normal-font-weight"><%= gettext('Percent') %></label>
                <input id="benefit-fixed" type="radio" class="non-editable" name="benefit_type" value="Absolute" disabled>
                <label for="benefit-fixed" class="normal-font-weight"><%= gettext('Fixed ($USD)') %></label>
            </div>
            <p class="help-block"></p>
        </div>
    </div>
</div>
