// buttons
// --------------------------------------------------

.btn:focus {
    // Disable Bootstrap default dotted outline
    outline:inherit;
}

// Use the Pattern Library's decoration (border-bottom)
.btn-link {
    white-space: normal;
    &:focus, &:hover {
        text-decoration: none;
    }
}
