{% load i18n %}
{% load django_markup %}
{% load currency_filters %}

<p>
    {% if basket.is_empty %}
        {% trans "Your basket is now empty" as tmsg %}{{ tmsg | force_escape }}
    {% else %}
        {% if basket.is_tax_known %}
            {% blocktrans asvar tmsg %}
                {strong_start}We’ve updated your quantity.{strong_end}
                {paragraph_start}Your cart includes {num_items} enrollment codes at a total cost of {total}, that you will receive via email.{paragraph_end}
            {% endblocktrans %}
            {% interpolate_html tmsg num_items=basket.num_items|safe total=basket.total_incl_tax|currency:basket.currency|safe strong_start='<b>'|safe strong_end='</b>'|safe paragraph_start='<p>'|safe paragraph_end='</p>'|safe %}
        {% else %}
            {% blocktrans asvar tmsg  %}
                {strong_start}We’ve updated your quantity.{strong_end}
                {paragraph_start}Your cart includes {num_items} enrollment codes at a total cost of {total}, that you will receive via email.{paragraph_end}
            {% endblocktrans %}
            {% interpolate_html tmsg num_items=basket.num_items total=basket.total_excl_tax|currency:basket.currency|safe strong_start='<b>'|safe strong_end='</b>'|safe paragraph_start='<p>'|safe paragraph_end='</p>'|safe %}
        {% endif %}
    {% endif %}
</p>

{% if include_buttons %}
<p>
    <a href="{% url 'basket:summary' %}" class="btn btn-info">{% trans "View basket" as tmsg %}{{ tmsg | force_escape }}</a>
    <a href="{% url 'checkout:index' %}" class="btn btn-info">{% trans "Checkout now" as tmsg %}{{ tmsg | force_escape }}</a>
</p>
{% endif %}
