// base styles
// --------------------

html {
  font-size: 16px;
}

a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.container {
  background-color: $container-bg;
}

.sr {
  @extend .sr-only;
}

.page-header {
  .hd-1 {
    margin: 0;
  }
}

.breadcrumb {
  > li {
    + li:before {
      content: "#{$breadcrumb-separator} ";
    }
  }
}

.depth {
  padding: 1.25rem 1.25rem;
}

.depth-2 {
  background: #fcfcfc;
  box-shadow: 0 1px 2px 1px rgba(167, 164, 164, 0.25);
}
