{% extends 'oscar/customer/email_base.html' %}
{% load i18n %}
{% block body %}
<!-- Message Body -->
<tr>
    <td class="container-padding" bgcolor="#ffffff" style="background-color: #ffffff; padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #333; border-radius: 5px;" align="left">
        <br>
        <!--/message HTML content -->
        <p>{% filter force_escape %}{% blocktrans %}Hi {{full_name}},{% endblocktrans %}{% endfilter %}</p>
        <br>
        <p>{% filter force_escape %}{% blocktrans with course_title=course_title platform_name=platform_name %}Thank you for purchasing {{course_title}}. A charge will appear on your credit or debit card statement with a company name of "{{platform_name}}".{% endblocktrans %}{% endfilter %}</p>
        <br>
        <p>{% filter force_escape %}{% blocktrans %}You can access your course and complete your verification (if required) on your {{platform_name}} dashboard. {% endblocktrans %}{% endfilter %} </p>
        <p>{% filter force_escape %}{% blocktrans %}To explore other great courses, visit the {{platform_name}} website. More courses are added every day!{% endblocktrans %}{% endfilter %}</p>
        <br>
        <a href="{{ receipt_page_url }}" style="color: #ffffff; text-decoration: none;">
            {% trans "View Payment Information" as tmsg %}{{ tmsg | force_escape }}
        </a>
        <br>
        <p>{% trans "Thank you. We hope you enjoy the course!" as tmsg %}{{ tmsg | force_escape }}</p>
        <p>{% filter force_escape %}{% blocktrans %}{{platform_name}} team {% endblocktrans %}{% endfilter %}</p>
        <!--/message HTML content -->
        <br><br>
    </td>
</tr>

<tr>
    <td class="footer-padding" style="padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Open Sans, sans-serif; color: #002D40; background-color: #f3f3f3;" align="left">
        <!--footer content -->
        <br>
        <p>{% filter force_escape %}{% blocktrans with course_title=course_title platform_name=platform_name %}You are receiving this email because you purchased a seat in the {{platform_name}} course {{course_title}}.{% endblocktrans %}{% endfilter %}</p>
        <br>
        <!--/ end footer content -->
    </td>
</tr>
<!--/100% wrapper-->
<br>
<br>
{% endblock body %}

