{% extends 'rest_framework_swagger/base.html' %}

{% load compress %}
{% load core_extras %}
{% load staticfiles %}

{% block title %}edX E-Commerce API {{ swagger_settings.api_version }}{% endblock %}

{% block style %}
  {{ block.super }}

  {% compress css %}
    {% if main_css %}
        <link rel="stylesheet" href="{{ main_css }}" type="text/x-scss">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/base/main.css' %}" type="text/x-scss">
    {% endif %}

    {% if swagger_css %}
        <link rel="stylesheet" href="{{ swagger_css }}" type="text/x-scss">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/base/edx-swagger.css' %}" type="text/x-scss">
    {% endif %}
  {% endcompress %}

{% endblock %}


{% block branding %}
{% endblock %}

{% block header %}
  {% include 'edx/partials/_staff_navbar.html' %}
{% endblock %}

{% block body %}
  {#  NOTE: Loading RequireJS, config.js, and common.js conflicts with Swagger's JS dependencies. Load our updated version of jQuery first, so that bootstrap.js loads properly. #}
  {% compress js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-sass/assets/javascripts/bootstrap.js' %}"></script>
  {% endcompress %}

  {{ block.super }}
{% endblock %}
