{% extends 'rest_framework_swagger/base.html' %}

{% load compress %}
{% load core_extras %}
{% load staticfiles %}

{% block title %}edX E-Commerce API {{ swagger_settings.api_version }}{% endblock %}

{% block style %}
  {{ block.super }}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'sass/base/main.scss' %}" type="text/x-scss">
    {% captureas theme_scss %}
      {% settings_value 'THEME_SCSS' %}
    {% endcaptureas %}
    <link rel="stylesheet" href="{% static theme_scss %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'sass/edx-swagger.scss' %}" type="text/x-scss">
  {% endcompress %}
{% endblock %}


{% block branding %}
{% endblock %}

{% block header %}
  {% include 'edx/partials/_navbar.html' %}
{% endblock %}

{% block body %}
  {#  NOTE: Loading RequireJS, config.js, and common.js conflicts with Swagger's JS dependencies. Load our updated version of jQuery first, so that bootstrap.js loads properly. #}
  {% compress js %}
    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap-sass/assets/javascripts/bootstrap.js' %}"></script>
  {% endcompress %}

  {{ block.super }}
{% endblock %}
