{% extends 'edx/base.html' %}

{% load core_extras %}
{% load i18n %}
{% load django_markup %}
{% load static %}

{% block title %}
{% trans 'Basket' as tmsg %}{{ tmsg | force_escape }}
{% endblock title %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block pre_app_js %}
  {# Right now, dynamic discounts only apply to single verified certs #}
  {% if formset_lines_data|length == 1 %}
  <script>
    window.lmsUrlRoot = "{{ lms_url_root }}";
    window.courseKey = "{{ formset_lines_data.0.1.course_key }}";
  </script>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/apps/basket_app.js' %}"></script>

  <script>
    window.paymentErrorPath = "{% url 'payment_error' %}";
  </script>
{% endblock %}

{% block skip_link %}
    <div id="skip-link">
        <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>
{% endblock skip_link %}

{% block content %}
    <main id="main-content" aria-label="Checkout" tabindex=-1>
        <div class="basket {% if enable_client_side_checkout %}basket-client-side{% endif %}">
            <div class="container">
                {# Use a partial template so that AJAX can be used to re-render basket #}
                {% if basket.is_empty %}
                    {% block emptybasket %}
                        <div class="depth depth-2 message-error-content">
                            <h3>{% trans "Your basket is empty" as tmsg %}{{ tmsg | force_escape }}</h3>
                            {% blocktrans asvar tmsg %}
                                If you attempted to make a purchase, you have not been charged. Return to your {link_start}{homepage_url}{link_middle}dashboard{link_end} to try
                                again, or {link_start}{homepage_url}{link_middle}contact {platform_name} Support{link_end}.
                            {% endblocktrans %}
                            {% interpolate_html tmsg link_start='<a href="'|safe support_url=support_url|safe platform_name=platform_name|safe link_end='</a>'|safe homepage_url=homepage_url|safe link_middle='">'|safe %}
                        </div>
                    {% endblock %}
                {% else %}
                    {% if enable_client_side_checkout %}
                        {% include 'oscar/basket/partials/client_side_checkout_basket.html' %}
                    {% else %}
                        {% include 'oscar/basket/partials/hosted_checkout_basket.html' %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}

{% block post_js %}
  {# Load payment processor code after the basket app to ensure that all neccessary hooks are in place. #}
  {% if enable_client_side_checkout %}
    {% include client_side_payment_processor.get_template_name %}
  {% endif %}
{% endblock %}
