{% load i18n %}

<table class="table table-striped table-bordered table-hover">
    <caption>{% trans "Enrollments" as tmsg %}{{ tmsg | force_escape }}</caption>

  {% if enrollments %}
      <tr>
          <th>{% trans "Course ID" as tmsg %}{{ tmsg | force_escape }}</th>
          <th>{% trans "Mode" as tmsg %}{{ tmsg | force_escape }}</th>
          <th>{% trans "Active?" as tmsg %}{{ tmsg | force_escape }}</th>
      </tr>
    {% for enrollment in enrollments %}
        <tr>
            <td>{{ enrollment.course_details.course_id }}</td>
            <td>{{ enrollment.mode|capfirst }}</td>
            <td>{{ enrollment.is_active }}</td>
        </tr>
    {% endfor %}
  {% else %}
      <tr>
          <td>{% trans "No enrollments found." as tmsg %}{{ tmsg | force_escape }}</td>
      </tr>
  {% endif %}
</table>
