<div class="container">
    <ol class="breadcrumb">
        <li><a href="/coupons/"><%= gettext('Coupons') %></a></li>
        <li class="active"><%= coupon['title'] %></li>
    </ol>
    <div class="page-header">
        <h1 class="hd-1 emphasized">
            <span class="coupon-title"><%= coupon['title'] %></span>

            <div class="pull-right">
                <a class="btn btn-primary btn-small" href="/coupons/<%= coupon['id'] %>/edit/" id="CouponEdit">
                    <%= gettext('Edit Coupon') %>
                </a>
            </div>
        </h1>
        <h3 class="hd-3">
            <span class="coupon-type"><%= couponType %></span>
        </h3>
    </div>
    <div class="coupon-information">
        <div class="heading"><%= gettext('Code Status:') %>
            <span class="code-status value <% if(codeStatus == 'ACTIVE') { %>active <% } %>"><%= codeStatus %></span>
            <div class="pull-right">
                <%= gettext('Last edit:') %>
                <span><%= lastEdited %></span>
            </div>
        </div>
        <div class="info-item category">
            <div class="heading"><%= gettext('Category') %></div>
            <div class="value"><%= category %></div><br />
        </div>
        <div class="info-item note">
            <div class="heading"><%= gettext('Note') %></div>
            <div class="value"><%= note %></div><br />
        </div>
        <div class="info-item discount-value">
            <div class="heading"><%= gettext('Discount value:') %></div>
            <div class="value"><%= discountValue %></div>
        </div>
        <div class="info-item course-info">
            <div class="heading"><%= gettext('Valid for courses:') %></div>
        </div>
        <div class="info-item catalog-query">
            <div class="heading"><%= gettext('Catalog query:') %></div>
            <div class="value"><%= coupon['catalog_query'] %></div>
        </div>
        <div class="info-item date-info">
            <div class="start-date-info">
                <div class="heading"><%= gettext('Valid from:') %></div>
                <div class="value"><%= startDateTime %></div>
            </div>
            <div class="end-date-info">
                <div class="heading"><%= gettext('Valid until:') %></div>
                <div class="value"><%= endDateTime %></div>
            </div>
        </div>
        <div class="info-item seat-types">
            <div class="heading"><%= gettext('Seat types:') %></div>
            <div class="value"><%= coupon['course_seat_types'] %></div>
            <div class="catalog_buttons"></div>
        </div>
        <div class="info-item usage-limitations">
            <div class="heading"><%= gettext('Usage Limitations:') %></div>
            <div class="value"><%= usage %></div>
        </div>
        <div class="info-item codes">
            <div class="heading"><%= gettext('Code(s):') %></div>
            <a href="/<%= coupon['id'] %>/" class="btn btn-primary btn-small pull-right voucher-report-button"><%= gettext('Download') %></a>
            <table id="vouchersTable" class="copy copy-base table table-striped table-bordered" cellspacing="0">
                <caption class="sr-only"><%= gettext('Current Voucher Codes') %></caption>
            </table>
        </div>
        <div class="info-item client-info">
            <div class="heading"><%= gettext('Client:') %></div>
            <div class="value"><%= coupon['client'] %></div>
        </div>
        <div class="info-item total-paid">
            <div class="heading"><%= gettext('Total to Invoice to Client:') %></div>
            <div class="value"><%= price %></div>
        </div>
        <div class="info-item invoice-type">
            <div class="heading"><%= gettext('Invoice Type:') %></div>
            <div class="value"><%= invoice_type %></div>
        </div>
        <div class="info-item invoice-number">
            <div class="heading"><%= gettext('Invoice Number:') %></div>
            <div class="value"><%= invoice_number %></div>
        </div>
        <div class="info-item invoiced-amount">
            <div class="heading"><%= gettext('Invoiced Amount:') %></div>
            <div class="value"><%= invoiced_amount %></div>
        </div>
        <div class="info-item invoice-discount-type">
            <div class="heading"><%= gettext('Invoice Discount Type:') %></div>
            <div class="value"><%= invoice_discount_type %></div>
        </div>
        <div class="info-item invoice-discount-value">
            <div class="heading"><%= gettext('Invoice Discount Value:') %></div>
            <div class="value"><%= invoice_discount_value %></div>
        </div>
        <div class="info-item invoice-payment-date">
            <div class="heading"><%= gettext('Invoice Payment Date:') %></div>
            <div class="value"><%= invoice_payment_date %></div>
        </div>
        <div class="info-item tax-deducted-source-value">
            <div class="heading"><%= gettext('Tax Deducted Source Value:') %></div>
            <div class="value"><%= tax_deducted_source_value %></div>
        </div>
    </div>
</div>
