<div class="alerts" tabindex="-1" aria-live="polite"></div>

<div class="row">
    <div class="fields col-md-6">
        <div class="form-group">
            <label for="title"><%= gettext('Coupon Name') %> *</label>
            <input id="title" type="text" class="form-control" name="title" maxlength="30">
            <p class="help-block"></p>
        </div>
        <div class="form-group">
            <label for="code_type"><%= gettext('Code Type') %></label>
            <select id="code_type" class="form-control" name="code_type"></select>
            <p class="help-block"></p>
        </div>
      <div class="form-group">
        <label for="category"><%= gettext('Category') %> *</label>
        <select id="category" class="form-control" name="category"></select>
        <p class="help-block"></p>
      </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="start_date"><%= gettext('Valid from') %> *</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    <input id="start_date" placeholder="<%- gettext('YYYY-MM-DDTHH:mm:ss') %>" class="form-control add-pikaday" name="start_date">
                </div>
                <p class="help-block"></p>
            </div>
            <div class="form-group col-md-6">
                <label for="end_date"><%= gettext('Valid until') %> *</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                    <input id="end_date" placeholder="<%- gettext('YYYY-MM-DDTHH:mm:ss') %>" class="form-control add-pikaday" name="end_date">
                </div>
                <p class="help-block"></p>
            </div>
        </div>

        <div class="form-group">
            <label for="voucher_type"><%= gettext('Usage Limitations') %></label>
            <select id="voucher_type" class="form-control" name="voucher_type"></select>
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="code"><%= gettext('Code') %></label>
            <input id="code" type="text" class="form-control" name="code" placeholder="<%= gettext('optional') %>">
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="quantity"><%= gettext('Number of Codes') %></label>
            <input id="quantity" class="form-control" type="number" step="1" name="quantity" value="1" min="1">
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="max_uses"><%= gettext('Maximum Number of Uses') %></label>
            <input id="max_uses" class="form-control" type="number" step="1" name="max_uses" value="1" min="1">
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="benefit_value"><%= gettext('Discount Value') %> *</label>
            <div class="input-group">
                <div class="benefit-addon input-group-addon"></div>
                <input id="benefit_value" type="number" step="0.01" min="0" class="form-control benefit_value" name="benefit_value">
            </div>
            <div class="form-inline benefit-type">
                <input id="benefit_percent" type="radio" name="benefit_type" value="Percentage">
                <label for="benefit_percent"><%= gettext('Percent') %></label>
                <input id="benefit_fixed" type="radio" name="benefit_type" value="Absolute">
                <label for="benefit_fixed"><%= gettext('Fixed ($USD)') %></label>
            </div>
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="client"><%= gettext('Client') %> *</label>
            <input id="client" type="text" class="form-control" name="client" maxlength="50">
            <p class="help-block"></p>
        </div>

        <hr>

        <div class="form-group">
            <label><%= gettext('Invoicing') %></label>
            <div class="invoice-type row">
                <div class="form-inline col-md-5">
                    <input id="already_invoiced" type="radio" name="invoice_type" value="Prepaid">
                    <label for="already_invoiced"><%= gettext('Already invoiced') %></label>
                </div>
                <div class="form-inline col-md-7">
                    <input id="invoice_after_redemption" type="radio" name="invoice_type" value="Postpaid">
                    <label for="invoice_after_redemption"><%= gettext('Invoice after redemption') %></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="invoice_number"><%= gettext('Invoice Number') %></label>
            <input id="invoice_number" class="form-control" type="text" name="invoice_number">
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="invoiced_amount"><%= gettext('Invoice Amount') %></label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input id="invoiced_amount" class="form-control" type="number" step="0.01" name="invoiced_amount">
            </div>
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="invoice_payment_date"><%= gettext('Payment Date') %></label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                <input id="invoice_payment_date" placeholder="<%- gettext('YYYY-MM-DDTHH:mm:ss') %>" class="form-control add-pikaday" name="invoice_payment_date">
            </div>
            <p class="help-block"></p>
        </div>

        <div class="form-group hidden">
            <label for="invoice_discount_value"><%= gettext('Discount per Code') %></label>
            <div class="input-group">
                <div class="invoice-discount-addon input-group-addon"></div>
                <input id="invoice_discount_value" type="number" step="0.01" min="0" class="form-control invoice_discount_value" name="invoice_discount_value">
            </div>
            <div class="form-inline invoice-discount-type">
                <input id="invoice_discount_percent" type="radio" name="invoice_discount_type" value="Percentage">
                <label for="invoice_discount_percent"><%= gettext('Percent') %></label>
                <input id="invoice_discount_fixed" type="radio" name="invoice_discount_type" value="Absolute">
                <label for="invoice_discount_fixed"><%= gettext('Fixed ($USD)') %></label>
            </div>
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="tax_deducted_source"><%= gettext('Tax Deducted Source (TDS)') %></label>
            <div class="form-inline tax_deducted_source">
                <input id="tax_deducted" type="radio" name="tax_deducted_source" value="Yes">
                <label for="tax_deducted"><%= gettext('Yes') %></label>
                <input id="non_tax_deducted" type="radio" name="tax_deducted_source" value="No" checked> 
                <label for="non_tax_deducted"><%= gettext('No') %></label>
            </div>
        </div>

        <div class="form-group hidden">
            <div class="input-group tax_deducted_source_value">
                <input id="tax_deducted_source_value" type="number" step="1" min="1" max="100" class="form-control" name="tax_deducted_source_value">
                <div class="input-group-addon">%</div>
                <p class="help-block"></p>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label for="price"><%= gettext('Total to Invoice to Client') %></label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input id="price" type="number" step="0.01" min="0" class="form-control" name="price">
            </div>
            <p class="help-block"></p>
        </div>
        <div class="form-group">
            <label for="total_value"><%= gettext('Total Value of Coupon') %></label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input id="total_value" type="number" step="0.01" min="0" class="form-control" name="total_value" disabled>
            </div>
            <p class="help-block"><%= gettext('Number of coupon codes * unit price per seat.') %></p>
        </div>
    </div>

    <div class="fields col-md-6">
        <div class="form-group">
            <div class="form-inline catalog-type">
                <input id="single_course" type="radio" name="catalog_type" value="Single course">
                <label for="single_course"><%= gettext('Single course') %></label>
                <input id="multiple_courses" type="radio" name="catalog_type" value="Multiple courses">
                <label for="multiple_courses"><%= gettext('Multiple courses') %></label>
            </div>
            <p class="help-block"></p>
        </div>
        <div class="form-group">
            <label for="course_id"><%= gettext('Course ID') %> *</label>
            <input id="course_id" type="text" class="form-control" name="course_id">
            <p class="help-block"></p>
        </div>
        <div class="form-group">
            <label for="seat_type"><%= gettext('Seat Type') %> *</label>
            <select id="seat_type" class="form-control" name="seat_type"></select>
            <p class="help-block"></p>
        </div>
        <div class="form-group catalog-query">
            <label for="catalog_query"><%= gettext('Valid for:') %> *</label>
            <textarea class="form-control" name="catalog_query" rows="10"></textarea>
            <p class="help-block"></p>
        </div>
        <div class="form-group course-seat-types">
            <label for="course_seat_types"><%= gettext('Seat Types:') %></label>
            <div class="checkboxes">
                <input id="verified" type="checkbox" name="course_seat_types" value="verified">
                <label for="verified"><%= gettext('Verified') %></label>
                <input id="professional" type="checkbox" name="course_seat_types" value="professional">
                <label for="professional"><%= gettext('Professional') %></label>
                <p class="help-block"></p>
            </div>
            <div class="catalog_buttons"></div>
        </div>
        <div class="form-group">
            <label for="note"><%= gettext('Note') %></label>
            <input id="note" type="text" class="form-control" name="note" maxlength="100">
            <p class="help-block"></p>
        </div>
    </div>
</div>

<div class="form-actions">
    <button type="submit" class="btn btn-primary"></button>
    <a class="btn btn-default" href="/coupons/<% if(id){ print(id + '/'); } %>"><%= gettext('Cancel') %></a>
</div>
