<div class="container">
    <ol class="breadcrumb">
        <li><a href="/coupons/"><%= gettext('Coupons') %></a></li>
        <li class="active"><%= coupon['title'] %></li>
    </ol>
    <div class="page-header">
        <h1 class="hd-1 emphasized">
            <span class="coupon-title"><%= coupon['title'] %></span>
        </h1>
    </div>

    <div class="coupon-information">
        <h3 class="hd-3 de-emphasized"><%= gettext('Coupon Information') %></h3>

        <div class="info-item">
            <div class="heading"><%= gettext('Coupon ID') %></div>
            <div class="coupon-id"><%= coupon['id'] %></div>
        </div>
        <div class="info-item">
            <div class="heading"><%= gettext('Coupon Price') %></div>
            <div class="course-price"><%= coupon['price'] %></div>
        </div>
    </div>

    <h3 class="hd-3 de-emphasized"><%= gettext('Coupon Vouchers') %></h3>

    <table id="voucherTable" class="copy copy-base table table-striped table-bordered" cellspacing="0">
        <caption class="sr-only">Vouchers</caption>
    </table>
</div>
