<div class="col-sm-2 hidden-xs">
    <img alt="<%= display_name %>" class="img-responsive provider-image" src="<%= thumbnail_url %>">
</div>
<div class="col-sm-10">
    <h3 class="title"><%= interpolate(gettext('About Credit at %(provider)s'), {provider: display_name}, true) %></h3>
    <p><%= gettext( description ) %></p>
    <button class="btn-link show-instructions" data-toggle="collapse" data-target="#fulfillment-instructions">
        <%= gettext( "How does credit work?" ) %>
    </button>
    <div class="collapse" id="fulfillment-instructions">
        <p>
            <!-- Translators: 'institution' is the name of credit provider, such as 'State University'. -->
            <%= interpolate(gettext("You can purchase credit through %(institution)s for this course for up to one year after the course end date. You can use the credit at %(institution)s or transfer the credit to another institution that accepts the credit."),
            {institution: display_name},
            true) %>
        </p>

        <!-- Translators: List of instructions to get credit from the credit provider institution. 'Checkout' and 'Checkout with PayPal' are payment button texts. -->
        <p><%= gettext("To purchase course credit:") %></p>
        <ol>
            <li><%= gettext("On this page, select either <b>Checkout</b> or <b>Checkout with PayPal</b>.") %></li>
            <li><%= gettext("On the payment page, enter your payment information.") %></li>
            <li><%= interpolate(gettext("When your payment is complete, follow the link to the %(institution)s website."), {institution: display_name}, true) %></li>
            <li><%= interpolate(gettext("On the %(institution)s website, enter all required information to request your course credit."), {institution: display_name}, true) %></li>
        </ol>
        <p><%= interpolate(gettext("After %(institution)s approves your credit, you can request an official transcript from %(institution)s"), {institution: display_name}, true) %>.</p>
    </div>
</div>
