<div class="alerts" tabindex="-1" aria-live="polite"></div>

<div class="fields">
    <div class="form-group">
        <label class="hd-4" for="course_id"><%= gettext('Course ID') %></label>
        <select class="form-control" name="course_id"> </select>

        <p class="help-block"></p>
    </div>
</div>

<div class="form-actions">
    <button type="submit" class="btn btn-primary"><%= gettext('Create Enrollment Code') %></button>
    <a class="btn btn-default" href="/enrollment_codes/"><%= gettext('Cancel') %></a>
</div>
