<div class="page-header">
    <h1 class="hd-1 emphasized">
        <%- gettext('Enterprise Coupon Codes') %>
        <div class="pull-right">
            <a href="/enterprise/coupons/new/" class="btn btn-primary btn-small" id="CreateCoupon"><%- gettext('Create Enterprise Coupon') %></a>
        </div>
    </h1>
</div>

<table id="couponTable" class="copy copy-base table table-striped table-bordered" cellspacing="0">
    <caption class="sr-only"><%- gettext('Current Enterprise Coupon Codes') %></caption>
</table>
