<div class="container">
    <ol class="breadcrumb">
        <li><a href="/enterprise/coupons/"><%= gettext('Enterprise Coupons') %></a></li>
        <li class="active"><%= coupon.title %></li>
    </ol>
    <div class="page-header">
        <h1 class="hd-1 emphasized">
            <span class="coupon-title"><%= coupon.title %></span>

            <div class="pull-right">
                <a class="btn btn-primary btn-small" href="/enterprise/coupons/<%= coupon.id %>/edit/" id="CouponEdit">
                    <%= gettext('Edit Coupon') %>
                </a>
            </div>
        </h1>
        <h3 class="hd-3">
            <span class="coupon-type"><%= coupon.coupon_type %></span>
        </h3>
    </div>
    <div class="coupon-information">
        <div class="heading"><%= gettext('Code Status:') %>
            <span class="code-status value <% if(coupon.code_status == 'ACTIVE') { %>active <% } %>"><%= coupon.code_status %></span>
            <div class="pull-right">
                <%= gettext('Last edit:') %>
                <span><%= lastEdited %></span>
            </div>
        </div>
        <div class="info-item grid-item enterprise-customer">
            <div class="heading"><%= gettext('Enterprise Customer') %></div>
            <div class="value"><%= coupon.enterprise_customer.id %></div><br />
        </div>
        <div class="info-item grid-item enterprise-customer-catalog">
            <div class="heading"><%= gettext('Enterprise Customer Catalog') %></div>
            <div class="value">
              <a class="external-link enterprise-catalog-details-link" href="<%= coupon.enterprise_catalog_content_metadata_url %>" aria-label="View enterprise catalog details."><%= coupon.enterprise_customer_catalog %></a>
            </div><br />
        </div>
        <div class="info-item grid-item category">
            <div class="heading"><%= gettext('Category') %></div>
            <div class="value"><%= category %></div><br />
        </div>
        <% if(coupon.note) {%>
        <div class="info-item grid-item note">
            <div class="heading"><%= gettext('Note') %></div>
            <div class="value"><%= coupon.note %></div><br />
        </div>
        <%}%>
        <% if(coupon.notify_email) {%>
        <div class="info-item grid-item notify_email">
            <div class="heading"><%= gettext('Notification Email') %></div>
            <div class="value"><%= coupon.notify_email %></div><br />
        </div>
        <%}%>
        <div class="info-item grid-item discount-value">
            <div class="heading"><%= gettext('Discount Value:') %></div>
            <div class="value"><%= discountValue %></div>
        </div>
        <div class="info-item grid-item date-info">
            <div class="start-date-info">
                <div class="heading"><%= gettext('Valid from:') %></div>
                <div class="value"><%= startDateTime %></div>
            </div>
            <div class="end-date-info">
                <div class="heading"><%= gettext('Valid until:') %></div>
                <div class="value"><%= endDateTime %></div>
            </div>
        </div>
        <% if(emailDomains) {%>
        <div class="info-item grid-item email-domains">
            <div class="heading"><%= gettext('Email Domains:') %></div>
            <div class="value"><%= emailDomains %></div>
        </div>
        <%}%>
        <div class="info-item grid-item usage-limitations">
            <div class="heading"><%= gettext('Usage Limitations:') %></div>
            <div class="value"><%= usage %></div>
        </div>
        <% if(coupon.max_uses) {%>
        <div class="info-item grid-item max-uses">
            <div class="heading"><%= gettext('Maximum Uses:') %></div>
            <div class="value"><%= coupon.max_uses %></div>
        </div>
        <%}%>
        <div class="info-item grid-item codes">
            <div class="heading"><%= gettext('Download Voucher(s):') %></div>
            <a href="/<%= coupon.id %>/" class="btn btn-primary btn-small pull-left voucher-report-button"><%= gettext('Download') %></a>
        </div>
        <div class="info-item grid-item client-info">
            <div class="heading"><%= gettext('Client:') %></div>
            <div class="value"><%= coupon.client %></div>
        </div>
        <div class="info-item grid-item contract-discount-value">
            <div class="heading"><%= gettext('Contract discount value:') %></div>
            <div class="value">
                <% if(coupon.contract_discount_value && coupon.contract_discount_type == 'Percentage') { %>
                    <%= coupon.contract_discount_value %>%
                <% } else if(coupon.contract_discount_type == 'Absolute') { %>
                    $<%= coupon.contract_discount_value && coupon.contract_discount_value %>
                <% } else { %>
                    -
                <%}%>
            </div>
        </div>
        <div class="info-item grid-item prepaid-invoice-amount">
            <div class="heading"><%= gettext('Prepaid Invoice Amount:') %></div>
            <div class="value">$<%= coupon.prepaid_invoice_amount %></div>
        </div>
        <div class="info-item grid-item invoice-type">
            <div class="heading"><%= gettext('Invoice Type:') %></div>
            <div class="value"><%= invoice_type %></div>
        </div>
        <% if(invoice_number) {%>
        <div class="info-item grid-item invoice-number">
            <div class="heading"><%= gettext('Invoice Number:') %></div>
            <div class="value"><%= invoice_number %></div>
        </div>
        <%}%>
        <% if(price) {%>
        <div class="info-item grid-item invoiced-amount">
            <div class="heading"><%= gettext('Invoiced Amount:') %></div>
            <div class="value"><%= price %></div>
        </div>
        <%}%>
        <% if(invoice_discount_value) {%>
        <div class="info-item grid-item invoice-discount-value">
            <div class="heading"><%= gettext('Invoice Discount Value:') %></div>
            <div class="value"><%= invoice_discount_value %></div>
        </div>
        <%}%>
        <% if(invoice_payment_date) {%>
        <div class="info-item grid-item invoice-payment-date">
            <div class="heading"><%= gettext('Invoice Payment Date:') %></div>
            <div class="value"><%= invoice_payment_date %></div>
        </div>
        <%}%>
        <% if(tax_deducted_source_value) {%>
        <div class="info-item grid-item tax-deducted-source-value">
            <div class="heading"><%= gettext('Tax Deducted Source:') %></div>
            <div class="value"><%= tax_deducted_source_value %></div>
        </div>
        <%}%>
    </div>
</div>
