<div class="alerts" tabindex="-1" aria-live="polite"></div>

<div class="fields">
    <div class="form-group">
        <label class="hd-4" for="course_id"><%= gettext('Course ID') %></label>
        <select class="form-control" name="course_id"> </select>

        <p class="help-block"></p>
    </div>

    <div class="form-group">
        <label class="hd-4" for="quantity"><%= gettext('Quantity') %></label>
        <input type="number" class="form-control" name="quantity" value="1">

        <p class="help-block"></p>
    </div>

    <div class="form-group">
        <label class="hd-4" for="voucherType"><%= gettext('Voucher Type') %></label>

        <p class="help-block"></p>
        <!-- Radio fields will be appended here. -->
        <div class="voucher-types"></div>
    </div>

    <div class="form-group">
        <label class="hd-4" for="price"><%= gettext('Price') %></label>
        <input type="number" class="form-control" name="price" value="100">

        <p class="help-block"></p>
    </div>
</div>

<div class="form-actions">
    <button type="submit" class="btn btn-primary"><%= gettext('Create Voucher') %></button>
    <a class="btn btn-default" href="/vouchers/"><%= gettext('Cancel') %></a>
</div>
