{% load i18n %}

<div class="container">
    <h5>{% trans "Enroll and pursue a verified certificate in the following course." %}</h5>
    <div class="row">
        <div class="col-md-2">
            <img class="img-responsive" src="{{course.image_url}}" alt="{{course.name}}" />
        </div>
        <div class="col-md-8">
            <p class="course_name">{{ course.name }} ({{ course.org }})</p>
            <p class="course_description">{{ course.short_description }}</p>
        </div>
        <div class="col-md-2 text-right course-price">
            <s class="course-price">${{ price }}</s>
            <strong>{% trans "FREE" %}</strong>
        </div>
    </div>
    <hr>
    <div class="text-right">
        <p>
            <b class="total-price">{% trans "Total: $0" %}</b>
        </p>
        <a href="{% url 'coupons:redeem' %}?code={{ code }}" id="RedeemEnrollment" class="btn btn-primary">{% trans "Enroll and Redeem Code" %}</a>
    </div>

    {% if verified %}
    <div class="alert alert-info note">
        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
        <b>{% trans "Note:" %}</b>
        {% trans "You must verify your identity using a webcam and a government-issued photo ID before the course ends." %}
    </div>
    {% endif %}

    <div>
        <b>{% trans "Questions?" %}</b>
        <p>
            <a href="{{ support_url }}">{% trans "Please read our FAQs to view common questions about our certificates." %}</a>
        </p>
    </div>
</div>
