{% load staticfiles %}
{% load i18n %}

<div class="depth depth--3">
    <div class="copy copy-meta">
        {% blocktrans with benefit_value=benefit_value %}
            You are eligible for a {{benefit_value}} discount for this course.
        {% endblocktrans %}
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="{{course.image_url}}" alt="" />
        </div>
        <div class="col-md-5">
            <p class="course_name">{{ course.name }} ({{ course.org }})</p>
            <p class="course_description">{{ course.short_description }}</p>
        </div>
        <div class="col-md-3 discount-course-price">
            <div class="data-row">{% trans "Price:" %}
                <div class="text-right">${{price}}</div>
            </div>
            <div class="data-row discount-row">
                {% blocktrans with benefit_value=benefit_value %}
                    {{benefit_value}} Discount:
                {% endblocktrans %}
                <div class="text-right">-${{discount_value}}</div>
            </div>
            <div class="data-row total-row">{% trans "Total:" %}
                <div class="text-right">${{new_price}}</div>
            </div>
            <a href="{% url 'coupons:redeem' %}?code={{ code }}" id="PurchaseCertificate" class="btn btn-success btn-purchase">{% trans "Purchase Certificate" %}</a>
            {% if verified %}
                <div class="verification-note">
                    {% blocktrans with verification_deadline=verification_deadline|date:"d M Y" %}
                        Note: You will need to verify your identity by
                        <span>{{verification_deadline}}</span>
                        to receive your certificate
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if verified %}
        <div class="verified-certificate-info">
            <div class="row">
                <div class="col-md-8">
                    <h3>{% trans "Why Should I Pursue a Verified Certificate?" %}</h3>
                </div>
            </div>
            <div>
                <div class="col-md-3">
                    <img class="img-responsive" src="{% static "images/example-certificate-verified.png" %}" alt="" />
                </div>
                <div class="col-md-5">
                    <ul>
                        <li>{% trans "A verified certificate demonstrates to future employers that you've mastered the course material." %}</li>
                        <li>{% trans "The certificate is officially signed and stamped by the institution that offers the course." %}</li>
                        <li>{% trans "You're twelve times more likely to complete the course if you're working toward a verified certificate." %}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</div>
