{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Redeem" %}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div id="offer">
        {% if error %}
            {% include "coupons/_offer_error.html" %}
        {% else %}
            {% if is_enrollment_code %}
                {% include "coupons/_offer_enrollment.html" %}
            {% else %}
                {% include "coupons/_offer_discount.html" %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    {% if footer %}
        {% autoescape off %}
            {{ footer }}
        {% endautoescape %}
    {% endif %}
{% endblock footer %}
