{% extends 'edx/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Redeem" %}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div id="offer">
        {% if error %}
            {% include "coupons/_offer_error.html" %}
        {% else %}
            {% if is_enrollment_code %}
                {% include "coupons/_offer_enrollment.html" %}
            {% else %}
                {% include "coupons/_offer_discount.html" %}
            {% endif %}
        {% endif %}
    </div>

    {% if analytics_data %}
        <script type="text/javascript">
            var initModelData = {{ analytics_data|safe }};
        </script>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/apps/coupon_offer_app.js' %}"></script>
{% endblock javascript %}
