.basket-page {
    padding: 60px 20px 30px 20px;

    .basket {
        .content-inner {
            .alertinner p:last-child {
                display: none;
            }

            #basket_totals,
            .price {
                @include float(right);
            }

            .basket-items {
                border-bottom: 1px solid #ddd;

                .certificate_type {
                    font-weight: bold;
                }

                .row {
                    padding-bottom: 30px;

                    .course_name,
                    .old-price,
                    .price {
                        margin: 0;

                        font-size: 20px;
                        font-weight: bold;
                    }

                    .course_description {
                        font-size: 14px;
                    }

                    .course_prices {
                        @include text-align(right);
                    }

                    .checkout-quantity {
                        .input-group {
                            display: inline;
                        }

                        .quantity {
                            display: inline-block;
                            width: 35%;
                            padding: 3px;
                        }

                        button.update-button {
                            display: inline-block;
                            vertical-align: top;
                            margin-left: 5px;
                            width: 40%;
                        }
                    }

                    .course_image img {
                        margin: 0 auto;
                        width: 100%;
                    }

                    .benefit {
                        display: inline-block;
                        font-size: 20px;
                    }

                    .old-price,
                    .price {
                        display: inline-block;
                    }

                    .old-price {
                        color: gray;
                        text-decoration: line-through;
                    }

                    .price {
                        padding: 0 0 0 15px;
                    }

                    .remove-code {
                        display: none;
                    }

                    .discount {
                        display: inline-block;
                        margin-right: 30px;
                        & > div {
                            margin-right: 10px;
                        }
                    }
                }

                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .input-group-btn-vertical {
                    position: relative;
                    white-space: nowrap;
                    width: 30px;
                    vertical-align: middle;
                    display: table-cell;
                    float: left;

                    .btn {
                        display: block;
                        float: none;
                        width: 100%;
                        max-width: 100%;
                        padding: 8px;
                        margin-left: -1px;
                        position: relative;
                        border-radius: 0;
                        &:first-child {
                            border-top-right-radius: 4px;
                        }
                        &:last-child {
                            margin-top: -2px;
                            border-bottom-right-radius: 4px;
                        }
                    }

                    i {
                        position: absolute;
                        top: 0;
                        left: 10px;
                    }
                }

                .course-price-label {
                    font-weight: normal;
                    font-size: 0.84rem;
                    + span {
                        display: inline-block;
                        margin-top: 8px;
                    }
                }
            }

            .total {
                padding-top: 20px;
                margin-bottom: 1.25rem;

                p.voucher {
                    @include float(left);

                    margin: 0 20px;
                    color: gray;
                }

                .remove-voucher {
                    border: none;
                    background: none;
                    padding: 0;
                    color: red;
                }

                .use-voucher {
                    @include float(left);

                    p {
                        margin-bottom: 0;
                    }

                    #id_code {
                        border: 1px solid #c8c8c8;
                        border-radius: 4px;
                        padding: 4.5px 12px;
                    }
                }

                #basket_totals {
                    @include text-align(right);

                    color: #337ab7;
                    font-size: 18px;
                    font-weight: bold;
                }

                #voucher_form_container {
                    display: none;
                }
            }

            .checkout-button {
                @include float(right);
            }

            .basket-switch-link {
                padding: 10px 10px 10px 0px;
            }
        }

        .discounted {
            color: green;
        }
    }

    .payment-buttons {
        .payment-button {
            border-color: #1E8142;
            padding: spacing-vertical(small) spacing-horizontal(mid-large);
            background: #1E8142;
            color: #fcfcfc;
            font-size: 18px;

            &:hover,
            &.is-hovered,
            &:focus,
            &.is-focused {
                border-color: #25B85A;
                background: #25B85A;
            }
        }
    }

    .verification-note {
        margin-top: 20px;
    }

    .help {
        margin-top: 20px;
    }
}

/* Small devices (tablets, 992px and lower) */
@media (max-width: $screen-md-min - 1) {
    .basket {
        .content-inner {
            .basket-items {
                .course-price-label {
                    font-size: 20px;
                    font-weight: bold;
                    margin: 0px 20px 20px 0px;
                }
            }
        }
    }
}

/* extra Small devices (phones, 768px and lower) */
@media (max-width: $screen-xs-max) {
    .basket-page {
        .basket .content-inner {
            .payment-buttons {
                .payment-button {
                    width: 100%;
                    margin-bottom: 2px;
                }
            }

            .form-group {
                margin-bottom: 0;
                vertical-align: middle;
                display: inline-block;
            }

            .course_prices {
                margin-top: 30px;
            }
        }

        .payment-buttons {
            .payment-button {
                width: 100%;
                margin-bottom: 2px;
            }
        }
    }
}
