.basket {
    .container {
        padding: 60px 20px 30px 20px;

        .alertinner p:last-child {
            display: none;
        }

        .basket-items,
        .total,
        .verification-note,
        .help {
            margin: 0 20px;
        }

        #basket_totals,
        .price,
        .payment-buttons {
            @include float(right);
        }

        .basket-items {
            border-bottom: 1px solid #ddd;

            .certificate_type {
                font-weight: bold;
            }

            .row {
                padding-bottom: 30px;

                .course_name,
                .old-price,
                .price {
                    margin: 0;

                    font-size: 20px;
                    font-weight: bold;
                }

                .course_description {
                    font-size: 14px;
                }

                .course_prices {
                    @include text-align(right);
                }

               .checkout-quantity {
                   .quantity {
                       display: inline-block;
                       width: 40%;
                       padding: 3px;
                   }
 
                   button {
                       display: inline-block;
                       vertical-align:top;
                       margin-left: 5px;
                       width: 50%;
                   }
               }

                .course_image img {
                    margin: 0 auto;
                    width: 100%;
                }

                .benefit {
                    display: inline-block;
                    font-size: 20px;
                }

                .old-price,
                .price {
                    display: inline-block;
                }

                .old-price {
                    color: gray;
                    text-decoration: line-through;
                }

                .price {
                    padding: 0 0 0 15px;
                }

                .remove-code {
                    display: none;
                }

                .discount {
                    display: inline-block;
                    margin-right: 30px;
                    & > div {
                        margin-right: 10px;
                    }
                }
            }
        }

        .total {
            padding-top: 20px;

            p.voucher {
                @include float(left);

                margin: 0 20px;

                color: gray;
            }

            .remove-voucher {
                border: none;

                background: none;
                padding: 0;

                color: red;
            }

            .use-voucher {
                @include float(left);

                #id_code {
                    border: 1px solid #c8c8c8;
                    border-radius: 4px;

                    padding: 4.5px 12px;
                }
            }

            #basket_totals {
                @include text-align(right);

                color: #337ab7;
                font-size: 18px;
                font-weight: bold;
            }

            #voucher_form_container {
                display: none;
            }
        }

        .checkout-button {
            @include float(right);
        }

        .payment-buttons {
            @include margin-right(30px);

            text-align: right;

            .payment-button {
                border-color: #1E8142;
                padding: spacing-vertical(small) spacing-horizontal(mid-large);
                background: #1E8142;
                color: #fcfcfc;
                font-size: 18px;

                &:hover,
                &.is-hovered,
                &:focus,
                &.is-focused {
                    border-color: #25B85A;
                    background: #25B85A;
                }
            }
        }

        .verification-note {
            margin-top: 20px;

            padding: 20px;
        }

        .help {
            margin-top: 20px;
        }
    }

    .discounted {
        color: green;
    }
}
