.coupon-create-edit-view {
    .benefit-type label,
    .invoice-type label,
    .invoice-discount-type label,
    .tax_deducted_source label {
        font-weight: normal;
    }

    .benefit-addon,
    .invoice-discount-addon {
        width: $input-addon-width;
    }
    input[name=benefit_value],
    input[name=invoice_discount_value] {
        width: $small-input-width;
    }
    .tax_deducted_source_value {
        width: $small-input-width + $input-addon-width;
    }

    .help-block {
        margin: 0;
    }

    .catalog-type {
        padding-top: 30px;
        height: 61px;

        label {
            padding: 0 10px;
        }
    }

    .catalog-query {
        margin-bottom: 10px;

        &.editing {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 20px;
        }

        button {
            margin-top: 10px;
            margin-right: 10px;
        }

        textarea {
            height: 216px;
        }
    }

    .course-seat-types {
        margin-bottom: 27px;
        height: 154px;

        .form-inline label {
            margin-bottom: 10px;
            padding-right: 10px;
        }

        .checkboxes {
            margin-bottom: 25px;
        }

        .catalog-buttons {
            margin-bottom: 34px;
        }
    }
}

.coupon-detail-view {
    .coupon-information {
        .heading {
            padding-bottom: 50px;
            color: gray;
        }

        .info-item {
            .heading {
                border-bottom: 1px solid #eeeeee;
                padding-bottom: 5px;
            }

            .value {
                padding-top: 10px;
            }
        }

        .value {
            color: black;
            font-weight: bold;

            span {
                color: gray;
                font-weight: normal;
            }
        }

        .code-status {
            &.active {
                color: green;
            }

            @include padding-left(10px);
        }

        .category,
        .note,
        .discount-value,
        .course-info,
        .date-info,
        .usage-limitations,
        .client-info,
        .total-paid,
        .catalog-query,
        .seat-types,
        .invoice-type,
        .invoice-number,
        .invoiced-amount,
        .invoice-discount-type,
        .invoice-discount-value,
        .invoice-payment-date,
        .tax-deducted-source-value {
            @include float(left);
            @include margin-right(2%);

            margin-bottom: 50px;
            width: 48%;
            height: 75px;
        }

        .usage-limitations,
        .total-paid {
            @include margin-right(50%);
        }

        .date-info.single-course {
            margin-right: 50%;
        }

        .start-date-info,
        .end-date-info {
            @include float(left);
            width: 50%;
        }

        #vouchersTable_wrapper {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .codes {
            @include float(left);

            width: 100%;

            .heading {
                margin-bottom: 10px;
            }
        }
    }
}

.catalog_buttons {
    margin-top: 10px;
    margin-bottom: 34px;
}

#catalogModal {
    .modal-dialog {
        margin-top: 100px;
        width: 75%;
    }

    .modal-header {
        border: none;

        .modal-title {
            text-align: center;
            font-weight: 800;
        }
    }
}
