#error-message .container {
  padding-top: $container-padding-top;
  padding-bottom: spacing-vertical(small);
}

.message-error-content {
  border-top: 4px solid #B20610;

  h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
}
