.receipt {
    background-color: #ffffff;
    font-family: $font-family-sans-serif;
    line-height: 1em;

    .action-primary {
        background: palette(primary, base) none repeat scroll 0 0;
        border: 0 none;
        border-radius: 2px;
        box-shadow: 0 2px 1px 0 palette(primary, dark);
        color: #fff;
        text-decoration: none;

        &:hover, &:focus {
            background: palette(primary, accent) none repeat scroll 0 0;
            border-bottom-color: palette(primary, accent);
            color: #fff;
            text-decoration: none;
        }
    }

    .bolded-text {
        font-weight: bold;
    }

    .content-container {
        padding: 15px 30px 40px;
    }

    .copy {
        > div {
            margin-bottom: 15px;
            line-height: 22px;
        }

        .addressed-to {
            margin-bottom: 35px;
        }
    }

    .final-price {
        color: black;
        font-weight: 700;
    }

    #error-container {
        padding: 15px;
        background: #fbf4f7 none repeat scroll 0 0;
        border-bottom: 4px solid #b20610;

        .error-message {
            background: inherit;

            .title {
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
    }

    .final-price {
        margin: 1.25em 1em 1.25em 1em;
        font-size: 1em;
    }

    .info-item {
        overflow: hidden;
    }

    .nav-link {
        border-bottom: none;
        text-decoration: none !important;

        &:active, &:hover, &:focus {
            border-bottom: 1px dotted #0079bc;
        }
    }

    .nav-wizard {
        padding: 15px 20px 10px;
        margin: 0;
        overflow: hidden;
        border-top: 4px solid rgb(255, 192, 31);
        box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.2);

        .verify-later {
            line-height: 20px;
            font-size: 13px;
        }

        #verify_now {
            margin-bottom: 10px;
        }

        #verify_choices {
            margin-bottom: 10px;
            padding-top: 10px;
            text-align: center;
        }

        .verify-message {
            color: #434242;
            font-weight: 500;
            line-height: 1.4em;
        }

        .verify-message-header {
            margin: 0;
            padding: 10px 0;
            color: #434242;
            font-size: 18px;
            font-weight: bold;
        }

        #verify_now_button {
            display: block;
            width: 100%;
            margin: 0 auto;
            padding: 13px 35px;
            text-align: center;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .order-amount {
        width: 10%;
    }

    .order-columns {
        background-color: rgb(249, 249, 249);
        color: #000;
        font-size: 1em;
    }

    .order-details {
        color: #6f7074;
        font-size: 12px;
        font-weight: 100;

        .order-details-text {
            display: inline-block;
            margin: 0 30px 10px 0;
        }
    }

    .order-headers {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: 700;
    }

    .order-info {
        margin-top: 10px;
        margin-bottom: 20px;
        color: rgb(29, 29, 29);
        font-size: 18px;
    }

    p, address {
        color: #6f7074;
    }

    .payment-summary {
        margin: 20px -15px 40px;

        .payment-card-number {
            padding: 30px 0;
        }

        .payment-data {
            padding-left: 30px;

            .payment-user-data {
                margin-bottom: 10px;
            }
        }
    }

    /* Styling for the provider area; uses edX Pattern Library utils */
    .report-receipt-provider {
        @include clearfix;
        margin: 0 0 20px 0;
        padding: 15px 20px;
        border: 1px solid rgb(221,221,221);
        border-radius: 3px;
        box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
        background: rgb(255,255,255);

        .provider-wrapper {
            @include float(left);
            padding: 10px;

            .provider-info {
                margin-bottom: 20px;
                font-weight: 600;
            }
        }

        .provider-buttons-logos {
            padding: 10px;
            @include text-align(center);

            .provider-logo img {
                max-width: 160px;
                margin-bottom: 10px;
            }
        }
    }

    .summary {
        margin: 0 0 15px;
        font-size: 18px;
        font-weight: 600;
    }

    .table {
        border: 1px solid #ddd;

        tbody {
            font-size: 1em;
            background-color: rgb(245, 245, 245);
        }

        tr {
            > td {
                padding: 25px 0 25px 20px;
            }
            > td.price {
                padding-right: 20px;
                text-align: right;
            }
        }
    }

    .thank-you {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
    }

    .wrapper-content-main {
        margin-bottom: 20px;

        .wrapper-report{
            padding-top: 30px;
        }
    }
}
