@import 'ecommerce/static/sass/partials/utilities/mixins';

// Logo override for edx.org theme
$brand-logo-path: '/static/edx.org/images/default-logo.png' !default;
$brand-logo-width: 93px !default;
$brand-logo-height: 47px !default;
