{# Base template for edX-specific pages. #}

{% load i18n %}
{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

  {% compress css %}
      <link rel="stylesheet" href="{% static 'sass/main.scss' %}" type="text/x-scss" media="screen">
  {% endcompress %}

  {% compress css %}
    {# This block is separated to better support browser caching. #}
    {% block stylesheets %}
    {% endblock %}
  {% endcompress %}

</head>
<body role="document">

<nav class="nav navbar-default" role="banner" aria-label="Main">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#edx-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <img class="site-logo image-style-none" itemprop="logo" typeof="foaf:Image" src="{% static 'images/edx-logo-header.png' %}" alt="edX">
      </div>
    </div>
    <div class="collapse navbar-collapse" id="edx-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <div class="text" href="#">
                  <i class="icon fa fa-home"></i>
                  <div>{{ username }}</div>
              </div>
              <div class="arrow">
                  <span class="caret"></span>
              </div>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ lms_dashboard_url }}">Dashboard</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock content %}

{# Translation support for JavaScript strings. #}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

{% compress js %}
    <script src="{% static 'bower_components/requirejs/require.js' %}"></script>
    <script src="{% static 'js/config.js' %}"></script>

    {# Note: django-compressor does not recognize the data-main attribute. Load the main script separately. #}
    <script src="{% static 'js/common.js' %}"></script>
{% endcompress %}

{% compress js %}
  {# Note: This block is purposely separated from the one above so that browsers cache the common JS instead of
     downloading a single, large file for each page. #}
  {% block javascript %}
  {% endblock javascript %}
{% endcompress %}
</body>
</html>
