{% extends 'edx/base.html' %}
{% load i18n %}

{% block title %}{% trans "Redeem" %}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}


{% block content %}
    <div id="error-message" class="account-activation-message">
        <div class="container">
            <div class="enrollment-message-container">
                <h2 class="enrollment-message">
                  {% trans "You are enrolling in: " %}
                  <span class="course-title">{{ course_name }}</span>
                </h2>
            </div>
            <div class="instruction">
                <p class="instruction-info">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    {% blocktrans %}An email has been sent to {{ user_email }} with a link for you to activate your account.{% endblocktrans %}
                </p>
              <h3 class="activate">{% trans "Why activate?" %}</h3>
              <div class="activate-info">
                  {% trans "We ask you to activate your account to ensure it is really you creating the account and to prevent fraud." %}
              <div>
            </div>
        </div>
    </div>
{% endblock %}
