{% extends 'edx/base.html' %}
{% load i18n %}

{% block title %}{% trans "Redeem" as tmsg %}{{ tmsg | force_escape }}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}


{% block content %}
    <div id="error-message" class="account-activation-message">
        <div class="container">
            <div class="enrollment-message-container">
                <h2 class="enrollment-message">
                  {% trans "You are enrolling in: " as tmsg %}{{ tmsg | force_escape }}
                    {% for course in courses %}
                      <span class="course-title">{{ course }}</span>
                    {% endfor %}
                </h2>
            </div>
            <div class="instruction">
                <p class="instruction-info">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    {% filter force_escape %}
                        {% blocktrans %}An email has been sent to {{ user_email }} with a link for you to activate your account.{% endblocktrans %}
                    {% endfilter %}
                </p>
              <h3 class="activate">{% trans "Why activate?" as tmsg %}{{ tmsg | force_escape }}</h3>
              <div class="activate-info">
                  {% trans "We ask you to activate your account to ensure it is really you creating the account and to prevent fraud." as tmsg %}{{ tmsg | force_escape }}
              <div>
            </div>
        </div>
    </div>
{% endblock %}
