{% extends 'edx/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}
  {% if editing %}
    {% filter force_escape %}
      {% blocktrans trimmed with program_title=program.title %}
        Edit Program Offer: {{ program_title }}
      {% endblocktrans %}
    {% endfilter%}
  {% else %}
    {% trans "Create Program Offer" as tmsg %}{{ tmsg | force_escape }}
  {% endif %}
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'bower_components/pikaday/css/pikaday.css' %}" type="text/x-scss">
{% endblock %}

{% block navbar %}
  {% include "edx/partials/_staff_navbar.html" %}
  {% include "edx/partials/_administration_menu.html" %}
{% endblock navbar %}

{% block content %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'programs:offers:list' %}">{% trans "Program Offers" as tmsg %}{{ tmsg | force_escape }}</a></li>

      {% if editing %}
        <li>{{ program.title }}</li>
        <li>{% trans "Edit" as tmsg %}{{ tmsg | force_escape }}</li>
      {% else %}
        <li>{% trans "Create" as tmsg %}{{ tmsg | force_escape }}</li>
      {% endif %}
    </ol>

    {% include 'oscar/partials/alert_messages.html' %}

    <div class="page-header">
      <h1 class="hd-1 emphasized">
        {% if editing %}
          {% trans "Edit Program Offer" as tmsg%}{{ tmsg | force_escape }}
        {% else %}
          {% trans "Create Program Offer" as tmsg %}{{ tmsg | force_escape }}
        {% endif %}
      </h1>
    </div>

    <form id="offerForm" method="post">
      {% csrf_token %}
      {{ form|crispy }}

      <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% if editing %}
            {% trans "Save Changes" as tmsg %}{{ tmsg | force_escape }}
          {% else %}
            {% trans "Create Program Offer" as tmsg %}{{ tmsg | force_escape }}
          {% endif %}">
        <a class="btn btn-default" href="{% url 'programs:offers:list' %}">{% trans "Cancel" as tmsg %}{{ tmsg | force_escape }}</a>
      </div>

    </form>
  </div>
{% endblock %}

{% block footer %}
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-right">
          <em>
            {% filter force_escape %}
              {% blocktrans %}
                {{ platform_name }} Program Offer Administration Tool
              {% endblocktrans %}
            {% endfilter %}
          </em>
        </div>
      </div>
    </div>
  </footer>
{% endblock footer %}


{% block javascript %}
  <script src="{% static 'js/pages/offer_form_page.js' %}"></script>
{% endblock %}
