.basket{
    background: #ffffff;
    overflow: hidden;
    border-bottom: 1px solid #979797;

  div#messages {
    .alert-error {
      background-color: none;
      @extend .alert;
      @extend .alert-danger;
    }
    .alertinner{
      p{
        margin: 0;
      }
    }
  }
  .container{
    padding: 0 15px;
    margin: 30px auto 0;
    border: 0;
    .basket-items{
      border-bottom: 0;
      margin: 0;
      display: block;
      padding-bottom: 0;
      > .row{
        display: block;
        > [class*="col"]{
          display: inline-block;
          float: left;
        }
      }
      .course_name{
        font-size: 16px !important;
        margin-left: 0;
        span{
          margin-left: 5px;
          font-size: 18px;
          color: #acacac;
          font-weight: normal;
        }
      }
      .course_description{
        margin-left: 0;
      }
      .label-headings{
        padding-bottom: 15px;
        label{
          font-size: 16px;
          margin-bottom: 0;
          font-weight: normal;
          color: #acacac;
        }

         [class*="col"]{
          padding-left: 10px;
          padding-right: 10px;
        }

      }
      .value-labels{
        line-height: 34px;
        font-size:14px;
        .price{
          font-size: 14px;
        }
        .checkout-quantity{
          display: block;
          margin-bottom: 10px;
          .quantity{
            border: 1px solid #4a4a4a;
            padding-left: 10px;
            border-radius: 3px;
            font-size: 16px;
          }
          button{
            border: 1px solid #4a4a4a;
            font-size: 14px;
            width: 50%;
            height: 32px;
            padding: 3px 0;
            text-align: center;
            margin: 0;
            float: right;
          }
          .input-group {
            display: block;
            .custom-number {
              width: 45%;
              position: relative;
              display: inline-block;
              input {
                width: 100%;
                height: 32px;
                border: 1px solid #4a4a4a;
                border-radius: 5px;
                position: relative;
                z-index: 1;
                padding-right: 35px;
                padding-left: 5px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url("../images/caret-down.png") no-repeat 90% center;
                &::ms-expand {
                  display: none;
                }
              }
              span {
                display: none;
                position: absolute;
                right: 1px;
                width: 29px;
                height: 15px;
                z-index: 2;
                cursor: pointer;
                overflow: hidden;
                line-height: 0;
                &.down {
                  bottom: 1px;
                  background: url("../images/bottom.png") no-repeat center;
                }
                &.up {
                  top: 1px;
                  background: url("../images/top.png") no-repeat center;
                }
              }
            }
          }
        }
        [class*="col"]{
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .row{
        .course_prices{
          text-align: left;
          margin-top: 0;
        }
        .price{
          padding: 0;
          float: none;
          font-weight: normal;
          font-size: 14px;
          &.actual-price{
            text-decoration: line-through;
            color: #979797;
          }
          &.discounted-price{
            font-weight: bold;
          }
        }
        .course_image{
          img{
            margin-bottom: 15px;
            border: 1px solid #828282;
            max-width: 100%;
            width: 100% !important;
          }
        }
      }
    }
    &.gross-total{
      border: 0;
      background: transparent;
      padding: 0 30px;
      margin: 0 auto;
      margin-bottom: 50px;
      #basket_totals{
        color: #1f78bd;
        font-size: 30px;
        margin-bottom: 20px;
        font-weight: 700;
        margin-right: 30px;
      }
      .btn-primary{
        background: #0079bc;
        color: #fcfcfc;
        padding: 13px 20px;
        font-size: 24px;
        border: 1px solid #014b75;
        width: 226px;
      }
      .btn-transparent{
        background-color: transparent;
        color: #0079bc;
        padding: 0;
        margin-top: 30px;
        font-weight: normal;
        font-size: 20px;
        float: none;
      }
    }
    .checkout-button{
      border: 1px solid #014b75;
      background-color: #0079bc;
      width: 100%;
      font-size: 28px;
      color: #fff;
      font-weight: bold;
      float: none;
      padding: 15px;
      border-radius: 5px;
    }
    .use-voucher{
      #id_code{
        box-shadow: none;
        border: 1px solid #979797;
        vertical-align: top;
        width: calc(100% - 64px);
        padding: 6px 10px;
        height: 50px;
        &:focus{
          outline: none;
        }
      }
      button{
        margin-left: -5px;
        -webkit-border-radius: 0 2px 2px 0;
        background-color: #337ab7;
        color: white;
        height: 50px;
        &:hover{
          border-color: #337ab7;
        }
      }
      #voucher_form_link {
        margin-bottom: 0;
        color: #afafaf;
      }
    }
    .coupon-applied{
      span{
        color: #53B7DD;
        &.fa{
          margin-right: 5px;
          color: #383838;
        }
      }
      .remove-voucher{
        padding-left: 0;
        border: none;
        background: none;
      }
    }
    .coupon-section, .change-enrollment-section{
      padding: 0 0 15px;
    }
    .form-group{
      margin-bottom: 15px;
      display: block;
      .form-field.has-error{
        input[type="text"]{
          border: 1px solid #d9242b;
          background-color: #f8e3e5;
        }
        .error-text{
          margin-top: 5px;
          color: #d9242b;
          position: relative;
          display: block;
          padding-left: 18px;
          &:before{
            content: "\f06a";
            font-family: "FontAwesome";
            position: absolute;
            left: 0;
            top: 0px;
            color: #d9242b;
          }
        }
      }
      .error-text{
        display: none;
      }
      .security{
        background-image: url("../images/lock.png");
        background-repeat: no-repeat, no-repeat;
        background-position: calc(100% - 14px) center, calc(100% - 35px) center;
        padding-right: 40px;
      }
      .mastercard{
        .security{
          background-image: url("../images/lock.png"), url("../images/mastercard-s.png");
        }
      }
      .visa{
        .security {
          background-image: url("../images/lock.png"), url("../images/visa-s.png");
        }
      }
      .discover{
        .security {
          background-image: url("../images/lock.png"), url("../images/discover-s.png");
        }
      }
      .american-express{
        .security {
          background-image: url("../images/lock.png"), url("../images/ae-s.png");
        }
      }
    }
    .payment-buttons{
      .payment-button {
        background: none;
        padding: 10px 10px 14px;
        border: 1px solid #979797;
        float: right;
        max-width: 99px;
        width: 100%;
        img{
          width: 100%;
        }
        &:hover, &:focus{
          background-color: transparent;
          border-color: #0079bc;
          opacity: 1;
        }
      }
    }
  }
  button:hover{
    opacity: 0.9;
  }
  .payment-details{
    padding: 0 15px;
    h4{
      margin-bottom: 5px;
      padding-top: 10px;
    }
    label{
      color: #6a6a6a;
      font-weight: normal;
      margin-bottom: 10px;
      display: block;
    }
    form{
      .group-label{
        color: #337ab7;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
      }
      .form-field{
        margin-bottom: 10px;
        label{
          margin-bottom: 0;
        }
      }
      .btn-group{
        display: block;
        overflow: hidden;
        border: 1px solid #979797;
        button{
          border: 0;
          padding: 10px;
          background-color: #fff;
          position: relative;
          border-radius: 0;
          margin-left: 0;
          width: auto;
          box-shadow: 0px 5px 0 transparent;
          &:focus, &:hover{
            background-color: #fff;
            box-shadow: 0px 5px 0 #0079bc;
            outline: none;
          }
          img{
            margin: 4px 0;
            height: 20px;
          }
          &:after{
            content: "";
            position: absolute;
            right: 0;
            height: 100%;
            top: 0;
            background-color: #979797;
            width: 1px;
          }
          &.more-options{
            width: auto;
            color: #6a6a6a;
            padding: 12px;
            width: 27%;
            &:hover{
              color: #2e2f33;
            }
            &:focus, &:hover{
              box-shadow: 0px 5px 0px transparent;
            }
            &:after{
              display: none;
            }
          }
        }
        .selected{
          border-bottom: 3px solid #337ab7;
        }
      }
    }
    .form-control{
      height: 42px;
      border-radius: 0;
      border: 1px solid #979797;
      margin-bottom: 10px;
    }
    select{
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url("../images/caret-down.png") no-repeat calc(100% - 10px) center;
      padding-right: 30px;
      font-size: 16px;
      &::-ms-expand{
        display: none;
      }
    }
  }
}
.footer-main{
  border-top: 0;
}
.border-left-md{
  border-left: 0;
}
.pb0{
  padding-bottom: 0 !important;
}

@media (min-width: 768px){
  .basket {
    .container {
      .basket-items {
        .row {
          .course_name, .course_description {
            margin-left: -15px;
          }
        }
        .value-labels{
          font-size: 18px;
          .checkout-quantity{
            font-size: 18px;
            button{
              font-size: 18px;
            }
          }
        }
        .row{
          .price{
            font-size: 18px;
          }
        }
      }
    }
    .payment-details{
      .btn-group{
        .btn{
          &.more-options{
            line-height: 26px;
          }
        }
      }
      .btn-paypal{
        padding: 12px 10px 14px;
      }
    }
  }
}

@media (min-width: 992px){
  .basket {
    border-bottom: none;
    background: #f3f3f3;
    .container {
      padding: 30px 15px;
      margin: 35px auto 0;
      border: 1px solid #979797;
      .basket-items {
        display: table;
        width: 100%;
        padding-bottom: 20px;
        > .row{
          display: table-row;
          > [class*="col"]{
            display: table-cell;
            float: none;
          }
        }
        .value-labels{
          .checkout-quantity{
            .input-group{
              .custom-number{
                select{
                  background: none;
                }
                span{
                  display: block;
                }
              }
            }
          }
        }
        .course_name{
          span{
            margin-left: 0;
            display: block;
          }
        }
        .use-voucher{
          #id_code{
            height: 33px;
            width: 70%;
          }
          #voucher_form_link{
            margin-bottom: 5px;
            margin-top: 10px;
          }
          button{
            height: 33px;
          }
        }
      }
      &.gross-total{
        padding: 0;
        .checkout-button{
          width: auto;
          float: right;
          padding: 10px 70px;
          font-weight: normal;
          font-size: 22px;
        }
        .btn-transparent{
          margin-top: 0;
          padding: 14px 30px;
          float: right;
        }
      }
      .coupon-section, .change-enrollment-section{
        padding: 0 15px;
      }
    }
    .payment-details{
      padding: 0 30px;
      .form-control{
        margin-bottom: 0;
      }
      .btn-group{
        .input-group{
          label {
            img {
              margin: 4px 2px;
              height: 18px;
            }
          }
        }
      }
    }
  }
  .border-left-md{
    border-left: 1px solid #979797;
  }
}
