{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Management View" as tmsg %}{{ tmsg | force_escape }}</title>
</head>
<body>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h1>Refund Basket Transactions</h1>
<p>Enter a comma-separated list of basket IDs. If a payment has been made against this basket, the payment will be
    refunded.</p>
<p>Be careful! CyberSource does not prevent duplicate refunds. You can potentially issue the user more credit than they
    paid us!</p>
<form method="post">
    {% csrf_token %}
    <textarea rows="10" cols="80" name="basket_ids"></textarea><br>
    <input type="hidden" name="action" value="refund_basket_transactions">
    <input type="submit" value="{% trans "Refund Transactions" as tmsg %}{{ tmsg | force_escape }}">
</form>

<h1>Create Orders for Baskets</h1>
<form method="post">
    {% csrf_token %}
    <label>Enter baskets to fulfill</label>
    <textarea rows="10" cols="80" name="basket_ids"></textarea><br>
    <input type="hidden" name="action" value="fulfill">
    <input type="submit" value="Fulfill Baskets">
</form>
</body>
</html>
