{% load i18n %}

<div class="modal fade" id="refundActionModal" tabindex="-1" role="dialog" aria-labelledby="refundActionModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="refundActionModalTitle">{% trans "Confirm Refund Processing" as tmsg %}{{ tmsg | force_escape }}</h4>
      </div>
      <div class="modal-body confirm-approve">
        {% trans "Are you sure you want to issue a full refund and revoke student's enrollment?" as tmsg %}{{ tmsg | force_escape }}
      </div>
      <div class="modal-body confirm-refund_payment_only">
        {% trans "Are you sure you want to issue a full refund without revoking student's enrollment?" as tmsg %}{{ tmsg | force_escape }}
      </div>
      <div class="modal-body confirm-deny">
        {% trans "Are you sure you want to deny this refund request?" as tmsg %}{{ tmsg | force_escape }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" as tmsg %}{{ tmsg | force_escape }}</button>
        <button type="button" class="btn btn-primary" data-decision="" data-refund-id="">{% trans "Confirm" as tmsg %}{{ tmsg | force_escape }}</button>
      </div>
    </div>
  </div>
</div>
